{% comment %}
  Adjusted by CLEARgo
{% endcomment %}

{% style %}
  .article-card__desc.mobile { 
    display: none; 
  }

  /* Responsive */
  /* Mobile */
  @media (max-width: 767px) { 
    .article-card__desc { 
      display: none; 
    }

    .article-card__desc.mobile { 
      display: block; 
    }
  }

  /* Tablet */
  @media (min-width: 768px) and (max-width: 1366px) { 

  }

  /* Desktop */
  @media (min-width: 1920px) { 

  }
{% endstyle %}

<div class="card article-card relative flex flex-col leading-none{% if article.image == blank %} without-image{% endif %}">
  <div class="article-card__content flex flex-col">
    <div class="grid">      
      <a class="article-card__title heading" href="{{ article.url }}">
        <h3 class="h4">{{- article.title -}}</h3>
      </a>

      {%- if show_excerpt -%}
        <div class="article-card__desc rte">
          {%- liquid
            if article.excerpt.size > 0
              echo article.excerpt | truncate: 160
            else
              echo article.content | strip_html | truncatewords: 40
            endif
          -%}
        </div>
        <div class="article-card__desc rte mobile">
          {%- liquid
            if article.excerpt.size > 0
              echo article.excerpt | truncate: 100
            else
              echo article.content | strip_html | truncatewords: 25
            endif
          -%}
        </div>
      {%- endif -%}
    </div>

    <a class="button button--primary button-with-url transparent-btn" href="{{ article.url }}">
      <span class="btn-text">{{- 'blogs.article.read_more' | t -}}</span>
    </a>

    {%- if show_date or show_comments or show_author -%}
      <div class="article-card__footer flex">
        {% assign image_url = article.metafields.custom.author_icon %}
          {% if image_url != blank %}
          <img class="author-icon" src="{{ image_url.value | image_url }}">
        {% endif %}

        <div class="article-card-footer-inner">
          {%- if show_author -%}
            <h4 class="h6 author">
              {{ article.author }}
            </h4>
          {%- endif -%}
          {%- if show_date -%}
            <p class="date">
              <small>{{- article.published_at | time_tag: format: 'month_day_year' -}}</small>
            </p>
          {%- endif -%}
          {%- if show_comments -%}
            <p class="comments">
              {%- render 'icon', icon: 'comment', size: 'xs', class: 'stroke-1' -%}
              <a class="reversed-link" href="{{ article.url }}#comments">
                {{- 'blogs.comments.with_count' | t: count: article.comments_count -}}
              </a>
            </p>
          {%- endif -%}
        </div>
      </div>
    {%- endif -%}
  </div>

  {%- if article.image != blank -%}
    <div class="article-card__media relative">
      {%- if show_tags and article.tags.size > 0 -%}
        <div class="badges z-2 absolute grid gap-3">
          {%- if article.metafields.theme.tag_color.value != blank and article.metafields.theme.tag_background.value != blank -%}
            {%- capture badge_style -%}
            --badge-foreground: rgb({{ article.metafields.theme.tag_color.value.rgb }}); --badge-background: rgb({{ article.metafields.theme.tag_background.value.rgb }});
            {%- endcapture -%}
          {%- endif -%}
          
          {%- for tag in article.tags -%}
            <a href="{{ blog.url }}/tagged/{{ tag | handle }}" class="badge{% if badge_style %} badge--custom{% endif %} font-medium leading-none rounded-full"{% if badge_style %} style="{{ badge_style }}"{% endif %}>{{ tag }}</a>
          {%- endfor -%}
        </div>
      {%- endif -%}

      <a href="{{ article.url }}" class="article-card__link block relative media media--{{ image_ratio }}" aria-label="{{ article.title | escape }}" tabindex="-1">
        {{- article.image | image_url: width: article.image.width | image_tag: loading: 'lazy', widths: '180,360,540,720,900,1080,1600', is: 'lazy-image', class: 'article-card__image' -}}
      </a>
    </div>
  {%- endif -%}
</div>
