{%- capture direction -%}{% render 'direction' %}{%- endcapture -%}
<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}" dir="{{ direction }}">
<head>
<!-- BEAE-GLOBAL-FONT --> 
{% capture the_snippet_global_font %}{% include 'beae-global-font' %}{% endcapture %} {% unless the_snippet_global_font contains 'Liquid error' %} {{ the_snippet_global_font }} {% endunless %} 
 <!-- END BEAE-GLOBAL-FONT -->
<!-- BEAE-HEADER --> 
{%- render 'beae_header' -%}
<!-- END BEAE-HEADER -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_button_background }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
  <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
  {% # theme-check-disable RemoteAsset %}
  <link rel="dns-prefetch" href="https://ajax.googleapis.com">
  <link rel="dns-prefetch" href="https://maps.googleapis.com">
  <link rel="dns-prefetch" href="https://maps.gstatic.com">
  {% # theme-check-enable RemoteAsset %}

  {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | image_url: width: 32, height: 32 }}" type="image/png" />
  {%- endif -%}
    
  <title>
    {{- page_title -}}
    {%- if current_tags -%}
      {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {%- endif -%}
    {%- if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif -%}
    {%- if request.page_type == 'password' -%}
      {{- shop.name -}}
    {%- else -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    {%- endif -%}
  </title>

  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

  <!-- jQuery CDN -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.14.1/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

  <!-- Slick -->
  <script src="{{ 'slick-1.8.1.min.js' | asset_url }}" defer="defer"></script>
  {{ 'slick.css' | asset_url | stylesheet_tag }}
  {{ 'slick-theme.css' | asset_url | stylesheet_tag }}

  {% comment %}
    <!-- Flickity JavaScript -->
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
  {% endcomment %}

  <!-- Flickity -->
  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.css">
  <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  {%- liquid
    render 'social-meta-tags'
    
    render 'css-variables'
    echo 'theme.css' | asset_url | stylesheet_tag: preload: true
    
    if direction == 'rtl'
      echo 'rtl.css' | asset_url | stylesheet_tag: preload: true
    endif
  -%}

  <link rel="stylesheet" href="{{ 'apps.css' | asset_url }}" media="print" fetchpriority="low" onload="this.media='all'">
  
  {{ 'custom.css' | asset_url | stylesheet_tag: preload: true }}
  
  {% style %}
    /* CLEARgo */
    /* Custom */
    .button-with-url {
      display: flex; 
      align-items: center; 
      gap: 12px; 
      color: var(--color-black); 
    }

    .button-with-url:after { 
      content: ''; 
      position: static; 
      display: block;
      width: 10px; 
      height: 10px; 
      aspect-ratio: 1; 
      background-image: url({{ 'cg_upright-arrow.svg' | asset_url }}); 
      background-position: center; 
      background-size: contain; 
      background-repeat: no-repeat; 
      transition: transform .3s; 
    }

    .button-with-url:hover { 
      color: var(--color-black) !important; 
    }

    .button-with-url:hover:after { 
      transform: rotate(45deg); 
    }

    .transparent-btn { 
      position: relative; 
      background: transparent; 
      background-color: transparent; 
      border: 1px solid var(--color-black); 
      z-index: 1; 
      transition: border-color .3s; 
    }

    .transparent-btn:hover { 
      border-color: transparent; 
    }

    .transparent-btn:before { 
      content: ""; 
      top: 100%; 
      left: 0; 
      width: 100%; 
      height: 100%; 
      position: absolute; 
      display: block; 
      background-color: var(--color-button-gradient); 
      transition: all .3s; 
      z-index: 0; 
    }

    .transparent-btn:hover:before { 
      top: 0; 
    }
    
    .mega-menu__nav-item a:after { 
      content: "";
      display: block; 
      width: calc(20vw / 19.2); 
      height: calc(20vw / 19.2); 
      aspect-ratio: 1; 
      background-image: url({{ 'cg_right-arrow.svg' | asset_url }}); 
      background-size: contain; 
      background-repeat: no-repeat; 
      background-position: center; 
    }

    details .menu__item:after { 
      content: ''; 
      display: block; 
      width: 8px; 
      height: 8px; 
      aspect-ratio: 1; 
      margin-left: 4px; 
      background-image: url({{ 'cg_menu-arrow-down.svg' | asset_url }}); 
      background-size: contain; 
      background-repeat: no-repeat; 
      background-position: bottom; 
    }

    /* Responsive */
    /* Mobile */
    @media (max-width: 767px) { 
      .title-wrapper .button {
        gap: 4px; 
        padding: 24px 32px; 
      }
    }

    /* Tablet */
    @media (min-width: 768px) and (max-width: 1366px) { 
      .mega-menu__nav-item a:after { 
        width: calc(20vw / 13.66); 
        height: calc(20vw / 13.66); 
      }
    }

    /* Desktop */
    @media (min-width: 1920px) { 
      .mega-menu__nav-item a:after { 
        width: 20px; 
        height: 20px; 
      }
    }
  {% endstyle %}

  {{ content_for_header }}

  {% comment %}
    <script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script>
  {% endcomment %}

  <script src="{{ 'vendor-v1.js' | asset_url | split: '?' | first }}" defer="defer"></script>
  <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>

  {%- if settings.enable_tab_attention -%}
    <script src="{{ 'tab-attention.js' | asset_url }}" defer="defer"></script>
  {%- endif -%}

  {%- if request.page_type contains 'customers/' -%}
    <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
  {%- endif -%}

  {%- render 'js-variables' -%}
{% include 'pagefly-app-header' %}</head>

<body class="template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}{% if request.path == '/challenge' %} template-challange{% endif %}{% if request.design_mode %} shopify-design-mode{% endif %}" data-rounded-button="{{ settings.rounded_button }}" data-rounded-input="{{ settings.rounded_input }}" data-rounded-block="{{ settings.rounded_block }}" data-rounded-card="{{ settings.rounded_card }}" data-button-hover="{{ settings.buttons_hover }}"{% if settings.enable_lazy_image %} data-lazy-image{% endif %} data-title-animation data-page-rendering>
  <a class="sr-only skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

  {%- liquid
    if settings.enable_page_transition
      render 'loading-bar'
    endif
    
    render 'mouse-cursor'

    sections 'header-group'
    sections 'overlay-group'
  -%}

  <div class="page-container" id="PageContainer">
    <main class="main-content relative" id="MainContent" role="main">
      {{ content_for_layout }}
    </main>

    <footer-group class="footer-group block w-full">
      {%- sections 'footer-group' -%}
    </footer-group>
  </div>

  <ul hidden>
    <li id="a11y-refresh-page-message">{{ 'general.accessibility.refresh_page' | t }}</li>
    <li id="a11y-new-window-message">{{ 'general.accessibility.link_messages.new_window' | t }}</li>
  </ul>

  {%- if request.design_mode == false and settings.preload_links -%}
    <script src="{{ 'instant-page.js' | asset_url }}" type="module" fetchpriority="low" defer="defer"></script>
  {%- endif -%}

<!-- BEAE-FOOTER --> 
{%- render 'beae_footer' -%}
<!-- END BEAE-FOOTER -->
<!-- BEAE-AB-SNIPPET --> 
{%- render 'beae_ab_snippet' -%}
<!-- END BEAE-AB-SNIPPET --></body>
</html>
