{% comment %}
  Adjusted by CLEARgo
{% endcomment %}

<style>
  #shopify-section-{{ section.id }} { 
    {% if section.settings.section_bg != blank %}
      background-color: {{ section.settings.section_bg }}; 
    {% endif %}
  }

  #shopify-section-{{ section.id }} .carousel-slider-container {
    width: 1440px; 
    margin: 0 auto; 
    padding: 72px 20px; 
  }

  #shopify-section-{{ section.id }} .section-header { 
    display: flex; 
    justify-content: space-between; 
    align-items: flex-end; 
    /* margin: 0 calc(120vw / 19.2) 72px calc(120vw / 19.2); */
    margin: 0 0 72px 0; 
  }

  #shopify-section-{{ section.id }} .header-info { 
    width: calc(1024vw / 19.2); 
  }

  #shopify-section-{{ section.id }} .section-heading { 
    line-height: normal; 
    font-size: 3rem; 
    margin-bottom: 24px; 
  }

  #shopify-section-{{ section.id }} .section-desc {
    font-size: calc(24vw / 19.2); 
  }

  #shopify-section-{{ section.id }} .slick-slider { 
    margin: 0 calc(-16vw / 19.2); 
    opacity: 0; 
    transition: all .3s; 
  }

  #shopify-section-{{ section.id }} .slick-slider.slick-initialized {
    opacity: 1; 
  }

  #shopify-section-{{ section.id }} .slick-list {
    /* padding: 0 calc(120vw / 19.2); */
    cursor: grab; 
  }

  #shopify-section-{{ section.id }} .slick-slide { 
    height: auto; 
    aspect-ratio: 655 / 705; 
    padding: 0 calc(16vw / 19.2); 
  }

  #shopify-section-{{ section.id }} .slide img { 
    width: 100%; 
    height: 100%; 
    border-radius: 12px; 
    object-fit: cover; 
    object-position: center; 
  }

  #shopify-section-{{ section.id }} .arrows-row { 
    width: fit-content; 
    height: fit-content; 
    display: flex; 
    gap: calc(12vw / 19.2); 
    opacity: 0; 
    transition: opacity .3s; 
  }

  #shopify-section-{{ section.id }}:has(.slick-initialized) .arrows-row {
    opacity: 1; 
  }

  #shopify-section-{{ section.id }} .arrows-row .slick-arrow { 
    width: 64px; 
    height: 64px; 
    aspect-ratio: 1; 
    position: static; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    border: 1px solid #000000; 
    border-radius: 50%; 
    transform: unset; 
    transition: opacity .3s; 
  }

  #shopify-section-{{ section.id }} .arrows-row .slick-arrow svg { 
    width: 16px; 
    height: 16px; 
    aspect-ratio: 1; 
    object-fit: contain; 
  }

  #shopify-section-{{ section.id }} .arrows-row .slick-arrow.slick-disabled {
    opacity: .3; 
    pointer-events: none; 
  }

  #shopify-section-{{ section.id }} .arrows-row .slick-arrow.slick-prev svg {
    transform: rotate(180deg); 
  }

  #shopify-section-{{ section.id }} .arrows-row .slick-arrow:before { 
    content: none; 
  }

  #shopify-section-{{ section.id }} .slick-dots { 
    position: static; 
    display: flex; 
    justify-content: center; 
    margin: calc(32vw / 19.2) auto 0 auto; 
  }

  #shopify-section-{{ section.id }} .slick-dots li {
    width: 12px; 
    height: 12px; 
    aspect-ratio: 1; 
    margin: 0 2.5px; 
  }

  #shopify-section-{{ section.id }} .slick-dots li button { 
    width: 100%; 
    height: 100%; 
    border-radius: 50%; 
    padding: 0; 
    transition: all .3s; 

    {% if section.settings.dot_color != blank %}
      border: 1px solid {{ section.settings.dot_color }}; 
    {% endif %}
  }

  #shopify-section-{{ section.id }} .slick-dots li.slick-active button { 
    {% if section.settings.dot_color != blank %}
      background-color: {{ section.settings.dot_color }}; 
    {% endif %}
  }

  #shopify-section-{{ section.id }} .slick-dots li button:before {
    content: none; 
  }

  /* Responsive */
  /* Mobile */
  @media (max-width: 767px) { 
    #shopify-section-{{ section.id }} .carousel-slider-container { 
      max-width: 100%; 
      padding: 80px 0; 
    }

    #shopify-section-{{ section.id }} .section-header { 
      align-items: flex-start; 
      flex-direction: column; 
      margin: 0 20px 36px; 
    }

    #shopify-section-{{ section.id }}  .header-info { 
      width: 100%; 
    }

    #shopify-section-{{ section.id }} .section-heading {
      margin-bottom: 16px;  
      font-size: 24px; 
    }

    #shopify-section-{{ section.id }} .section-desc { 
      margin-bottom: 36px; 
      font-size: 14px; 
    }
    
    #shopify-section-{{ section.id }} .slick-slider {
      padding: 0 -8px; 
    }

    #shopify-section-{{ section.id }} .slick-list { 
      /* padding: 0 20px; */
    }
    
    #shopify-section-{{ section.id }} .slick-slide {
      aspect-ratio: 300 / 322; 
      padding: 0 8px; 
    }

    #shopify-section-{{ section.id }} .arrows-row {
      gap: 12px; 
    }

    #shopify-section-{{ section.id }} .arrows-row .slick-arrow {
      width: 48px; 
      height: 48px; 
    }

    #shopify-section-{{ section.id }} .slick-dots { 
      margin: 16px auto 0 auto; 
    }
  }

  /* Tablet */
  @media (min-width: 768px) and (max-width: 1366px) { 
    #shopify-section-{{ section.id }} .header-info { 
      width: calc(1024vw / 13.66); 
    }
    
    #shopify-section-{{ section.id }} .section-desc {
      font-size: calc(24vw / 13.66); 
    }
    
    #shopify-section-{{ section.id }} .slick-slider { 
      margin: 0 calc(-16vw / 13.66); 
    }

    #shopify-section-{{ section.id }} .slick-list {
      /* padding: 0; */
    }
    
    #shopify-section-{{ section.id }} .slick-slide {
      padding: 0 calc(16vw / 13.66); 
    }

    #shopify-section-{{ section.id }} .arrows-row { 
      gap: calc(12vw / 13.66); 
    }

    #shopify-section-{{ section.id }} .slick-dots { 
      margin: calc(32vw / 13.66) auto 0 auto; 
    }
  }

  /* Desktop */
  @media (min-width: 1920px) { 
    #shopify-section-{{ section.id }} .header-info { 
      width: 1024px; 
    }
    
    #shopify-section-{{ section.id }} .section-desc {
      font-size: 24px; 
    }
    
    #shopify-section-{{ section.id }} .slick-slider { 
      margin: 0 -16px; 
    }

    #shopify-section-{{ section.id }} .slick-list {
      /* padding: 0 120px; */
    }
    
    #shopify-section-{{ section.id }} .slick-slide {
      padding: 0 16px; 
    }

    #shopify-section-{{ section.id }} .arrows-row { 
      gap: 12px; 
    }

    #shopify-section-{{ section.id }} .slick-dots { 
      margin: 32px auto 0 auto; 
    }
  }
</style>

<!-- View -->
<div class="carousel-slider-container">
  <div class="section-header">
    <div class="header-info">
      {% if section.settings.section_heading != blank %}
        <h2 class="section-heading">{{ section.settings.section_heading }}</h2>
      {% endif %}
      {% if section.settings.section_desc != blank %}
        <div class="section-desc">{{ section.settings.section_desc }}</div>
      {% endif %}
    </div>
    <div class="arrows-row">
      <button type="button" class="slick-prev slick-arrow">
        {% render 'icon', icon: 'cg_arrow-right' %}
      </button>
      <button type="button" class="slick-next slick-arrow">
        {% render 'icon', icon: 'cg_arrow-right' %}
      </button>
    </div>
  </div>
  {% if section.blocks.size > 0 %}
    <ul class="slide-list">
      {% for block in section.blocks %}
        {% if block.settings.slide_img != blank %}
          <li class="slide slide-{{ forloop.index }}">
            <img width="655" height="705" src="{{ block.settings.slide_img | img_url: 'master' }}" />
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}
</div>

<!-- Behaviour -->
<script>
  addEventListener("DOMContentLoaded", (event) => { 
    console.log("Passed through CG Carousel Slider"); 

    /* Init slick slider */
    $("#shopify-section-{{ section.id }} .slide-list").slick({ 
      arrows: true, 
      dots: true, 
      infinite: false, 
      variableWidth: false, 
      slidesToShow: 2.5, 
      slidesToScroll: 1, 
      prevArrow: $('#shopify-section-{{ section.id }} .arrows-row .slick-prev'),
      nextArrow: $('#shopify-section-{{ section.id }} .arrows-row .slick-next'), 
      responsive: [
        { breakpoint: 768, settings: { slidesToShow: 2.5 } },
		{ breakpoint: 767, settings: { slidesToShow: 1.25 } }
      ]
    }); 
  }); 
</script>

{% schema %}
  {
    "name": "CG Carousel Slider", 
    "tag": "section", 
    "class": "cg-carousel-slider", 
    "settings": [ 
      {
        "type": "color", 
        "id": "section_bg", 
        "label": "Section bcakbround", 
        "default": "#FFFFFF"
      }, 
      {
        "type": "text", 
        "id": "section_heading", 
        "label": "Heading", 
        "default": "Ultimate consistent, reliable riding companion"
      }, 
      {
        "type": "richtext", 
        "id": "section_desc", 
        "label": "Description"
      }, 
      {
        "type": "color", 
        "id": "dot_color", 
        "label": "Dot color", 
        "default": "#0F0F0E"
      }
    ], 
    "blocks": [
      {
        "type": "slide", 
        "name": "Slide", 
        "settings": [
          {
            "type": "image_picker", 
            "id": "slide_img", 
            "label": "Image"
          }
        ]
      }
    ], 
    "presets": [
      {
        "name": "CG Carousel Slider", 
        "blocks": [
          {
            "type": "slide"
          }, 
          {
            "type": "slide"
          }, 
          {
            "type": "slide"
          }, 
          {
            "type": "slide"
          }
        ]
      }
    ]
  }
{% endschema %}