{% comment %}
  Adjusted by CLEARgo
{% endcomment %}

{% style %}
  .cg-footer-forms:has(.section-{{ section.id }}) { 
    {% if section.settings.bg_color != blank %}
      background-color: {{ section.settings.bg_color }}; 
    {% endif %}
  }

  .section-{{ section.id }} .forms-wrapper { 
    width: 100%; 
    display: flex; 
  }

  .section-{{ section.id }} .footer-form { 
    width: 50%; 
    display: flex; 
    flex-direction: column; 
    margin: calc(72vw / 19.2) 0; 
    padding-right: calc(240vw / 19.2); 
    border-right: 1px solid var(--color-grey); 
  }

  .section-{{ section.id }} .footer-form:last-child { 
    padding-left: calc(224vw / 19.2); 
    padding-right: unset; 
    border-right: none; 
  }

  .section-{{ section.id }} .newsletter-form { 
    max-width: unset; 
    margin-top: auto; 
  }

  .section-{{ section.id }} .form-heading { 
    font-size: 2.75rem; 
    font-weight: 500; 
    margin-bottom: 6px; 
  }

  .section-{{ section.id }} .form-desc { 
    margin-bottom: 40px; 
    font-size: 1.25rem; 
    
    {% if section.settings.desc_color != blank %}
      color: {{ section.settings.desc_color }}; 
    {% endif %}
  }

  .section-{{ section.id }} .contect-us-btn { 
    width: 100%; 
    height: 80px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    border: 1px solid var(--color-middlegrey); 
    border-radius: var(--inputs-radius); 
    padding: 0 var(--input-padding-inline); 
    text-align: left; 
    color: var(--color-grey); 

    {% if section.settings.block_color != blank %}
      background-color: {{ section.settings.block_color }}; 
    {% endif %}
  }

  .section-{{ section.id }} .contect-us-btn span { 
    height: fit-content; 
  }

  .section-{{ section.id }} .contect-us-btn .button { 
    width: 56px; 
    height: 56px; 
    aspect-ratio: 1; 
    max-height: unset; 
    padding: 0; 
    border-radius: var(--rounded-full); 
  }

  .section-{{ section.id }} .contect-us-btn .button { 
    transition: all .3s; 
  }

  .section-{{ section.id }} .contect-us-btn .button:hover { 
    background-color: var(--color-secondary); 
  }
  
  .section-{{ section.id }} .contect-us-btn svg { 
    width: 28px; 
    height: 28px; 
    aspect-ratio: 1; 
    transition: all .3s; 
  }

  .section-{{ section.id }} .contect-us-btn:hover svg { 
    filter: invert(1); 
  }

  .section-{{ section.id }} .input { 
    width: 100%; 
    height: 80px; 
    border: 1px solid var(--color-middlegrey) !important; 
    
    {% if section.settings.block_color != blank %}
      background-color: {{ section.settings.block_color }} !important; 
    {% endif %}
  }

  .section-{{ section.id }} .label { 
    height: 80px; 
  }

  .section-{{ section.id }} .input:focus~.label { 
    display: flex; 
    align-items: flex-start; 
  }

  .section-{{ section.id }} .newsletter-form button { 
    height: 100%; 
    max-height: unset; 
    background-color: var(--color-lemon-yellow); 
  }

  .section-{{ section.id }} .self-submit-button { 
    width: 56px; 
    height: 56px; 
    aspect-ratio: 1; 
  }

  .section-{{ section.id }} .newsletter-form button svg.icon { 
    width: 28px; 
    height: 28px; 
    aspect-ratio: 1; 
  }

  /* Responsive */
  /* Mobile */
  @media (max-width: 767px) { 
    .cg-footer-forms:has(.section-{{ section.id }}) { 
      background-color: unset; 
    }

    .section-{{ section.id }} .page-width {
      padding: 0; 
    }

    .section-{{ section.id }} .forms-wrapper { 
      flex-direction: column; 
      border-top-left-radius: 5px; 
      border-top-right-radius: 5px; 
      padding: 0 32px; 

      {% if section.settings.bg_color != blank %}
        background-color: {{ section.settings.bg_color }}; 
      {% endif %}
    }

    .section-{{ section.id }} .footer-form, 
    .section-{{ section.id }} .footer-form:last-child { 
      width: 100%; 
      border-right: none; 
      padding: 32px 0; 
      margin: 0; 
    }

    .section-{{ section.id }} .footer-form { 
      border-bottom: 1px solid var(--color-grey); 
    }
    
    .section-{{ section.id }} .footer-form:last-child { 
      border-bottom: none; 
    }

    .section-{{ section.id }} .form-heading, 
    .section-{{ section.id }} .form-desc { 
      text-align: center; 
    }

    .section-{{ section.id }} .form-heading { 
      font-size: 24px; 
    }

    .section-{{ section.id }} .form-desc { 
      margin-bottom: 20px; 
      font-size: 12px; 
    }

    .section-{{ section.id }} .contect-us-btn { 
      height: 60px; 
      border-radius: 5px; 
      padding: 0 12px; 
    }

    .section-{{ section.id }} .contect-us-btn .button { 
      width: 36px; 
      height: 36px; 
    }

    .section-{{ section.id }} .contect-us-btn svg { 
      width: 20px; 
      height: 20px; 
    }

    .section-{{ section.id }} .input, 
    .section-{{ section.id }} .label { 
      height: 60px; 
    }

    .section-{{ section.id }} .input {
      border-radius: 5px; 
    }

    .section-{{ section.id }} .label { 
      margin-left: 12px; 
    }

    .section-{{ section.id }} .input:focus~.label { 
      --tw-translate-y: calc(var(--sp-2d5) * -1 / 2); 
    }

    .section-{{ section.id }} .self-submit-button { 
      right: 12px; 
      width: 36px; 
      height: 36px; 
    }

    .section-{{ section.id }} .newsletter-form button svg.icon { 
      width: 20px; 
      height: 20px; 
    }
  }

  /* Tablet */
  @media (min-width: 768px) and (max-width: 1366px) { 
    .section-{{ section.id }} .footer-form { 
      margin: calc(72vw / 13.66) 0; 
      padding-right: calc(60vw / 13.66); 
    }

    .section-{{ section.id }} .footer-form:last-child { 
      padding-left: calc(60vw / 13.66); 
    }

    .section-{{ section.id }} .contect-us-btn { 
      padding: 0 var(--input-padding-inline); 
    }
  }

  /* Desktop */
  @media (min-width: 1920px) { 
    .section-{{ section.id }} .footer-form { 
      margin: 72px 0; 
      padding-right: 240px; 
    }

    .section-{{ section.id }} .footer-form:last-child { 
      padding-left: 224px; 
    }

    .section-{{ section.id }} .contect-us-btn { 
      padding: 0 var(--input-padding-inline); 
    }
  }
{% endstyle %}

<!-- View -->
<div class="section-{{ section.id }} footer-forms">
  <div class="page-width">
    <div class="forms-wrapper">
      <div class="footer-form contect-us">
        {% if section.settings.contact_us_heading != blank %}
          <h2 class="form-heading">{{ section.settings.contact_us_heading }}</h2>
        {% endif %}
        {% if section.settings.contact_us_desc != blank %}
          <p class="form-desc">{{ section.settings.contact_us_desc }}</p>
        {% endif %}
        <a class="contect-us-btn" href="{{ section.settings.contect_us_url }}"><span>{{ section.settings.contact_us_text }}</span><button class="button button--primary self-button flex justify-center items-center" is="magnet-button">{% render 'icon', icon: 'cg_message' %}</button></a>
      </div>
      <div class="footer-form sign-up">
        {% if section.settings.signup_heading != blank %}
          <h2 class="form-heading">{{ section.settings.signup_heading }}</h2>
        {% endif %}
        {% if section.settings.contact_us_desc != blank %}
          <p class="form-desc">{{ section.settings.signup_desc }}</p>
        {% endif %}
        {%- render 'newsletter-form', section_id: section.id, context: 'footer', type: 'email' -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "CG Footer Forms", 
  "class": "cg-footer-forms", 
  "tag": "section", 
  "settings": [ 
    {
      "type": "color", 
      "id": "bg_color", 
      "label": "Background color", 
      "default": "#FAF9F5"
    }, 
    { 
      "type": "color", 
      "id": "block_color", 
      "label": "Block color", 
      "default": "#FFFFFF"
    }, 
    {
      "type": "color", 
      "id": "desc_color", 
      "label": "Description color", 
      "default": "#535353"
    }, 
    {
      "type": "header", 
      "content": "Contact Us Form"
    }, 
    {
      "type": "text", 
      "id": "contact_us_heading", 
      "label": "Heading", 
      "default": "We Are Here To Help"
    }, 
    {
      "type": "text", 
      "id": "contact_us_desc", 
      "label": "Description", 
      "default": "Please contact us if you have any question"
    }, 
    {
      "type": "url", 
      "id": "contect_us_url",
      "label": "Contect us URL"
    }, 
    {
      "type": "text", 
      "id": "contact_us_text", 
      "label": "Contact us button text", 
      "default": "Contact us"
    }, 
    {
      "type": "header", 
      "content": "Sign Up Form"
    }, 
    {
      "type": "text", 
      "id": "signup_heading", 
      "label": "Heading", 
      "default": "Sign Up And Save"
    }, 
    {
      "type": "text", 
      "id": "signup_desc", 
      "label": "Description", 
      "default": "Be the first to know Heybike News"
    }
  ], 
  "blocks": [ 
    
  ], 
  "enabled_on": {
    "groups": [ 
      "footer"
    ]
  }, 
  "presets": [ 
    { 
      "name": "CG Footer Form", 
      "blocks": [ 
        
      ]
    }
  ]
}
{% endschema %}
