{% comment %}
  Created by CLEARgo
{% endcomment %}

<style>
  #shopify-section-{{ section.id }} { 
    {% if section.settings.padding_top_desktop != blank %}
      padding-top: calc({{ section.settings.padding_top_desktop }}vw / 19.2); 
    {% endif %}
    {% if section.settings.padding_bottom_desktop != blank %}
      padding-bottom: calc({{ section.settings.padding_bottom_desktop }}vw / 19.2); 
    {% endif %}
  }

  #shopify-section-{{ section.id }} .row-list { 
    margin: 0; 
    padding: 0; 
    list-style: none; 
  }

  #shopify-section-{{ section.id }} .row {
    display: flex; 
    padding: calc(50vw / 19.2) 0; 
  }

  #shopify-section-{{ section.id }} .row:first-child {
    padding-top: 0; 
  }

  #shopify-section-{{ section.id }} .row:last-child {
    padding-bottom: 0; 
  }

  #shopify-section-{{ section.id }} .media { 
    width: calc(800vw / 19.2); 
    height: calc(800vw / 19.2); 
    aspect-ratio: 1; 
    object-fit: cover; 
  }

  #shopify-section-{{ section.id }} .row-main { 
    padding-inline: calc(160vw / 19.2); 
  }

  #shopify-section-{{ section.id }} .row-heading { 
    margin-bottom: calc(160vw / 19.2); 
    line-height: 100%; 
  }

  #shopify-section-{{ section.id }} .row menu { 
    display: flex; 
    flex-direction: column; 
    gap: calc(20vw / 19.2); 
    margin: 0 0 calc(60vw / 19.2) 0; 
    padding: 0; 
    list-style: none; 
  }

  #shopify-section-{{ section.id }} .row menu li { 
    display: flex; 
    align-items: center; 
    gap: calc(20vw / 19.2); 
  }

  #shopify-section-{{ section.id }} .row menu li img { 
    width: calc(60vw / 19.2); 
    height: calc(60vw / 19.2); 
    aspect-ratio: 1; 
  }

  #shopify-section-{{ section.id }} .row menu li p { 
    display: flex; 
    line-height: normal; 
    font-size: calc(24vw / 19.2); 
    font-weight: 600; 
  }

  #shopify-section-{{ section.id }} .row-content h1, 
  #shopify-section-{{ section.id }} .row-content h2, 
  #shopify-section-{{ section.id }} .row-content h3, 
  #shopify-section-{{ section.id }} .row-content h4, 
  #shopify-section-{{ section.id }} .row-content h5, 
  #shopify-section-{{ section.id }} .row-content h6 {
    margin-bottom: calc(20vw / 19.2); 
    font-size: calc(32vw / 19.2); 
  }

  #shopify-section-{{ section.id }} .media.mobile { 
    display: none; 
  }

  /* Responsive */
  /* Mobile */
  @media (max-width: 767px) { 
    #shopify-section-{{ section.id }} {
      padding: 0; 
      
      {% if section.settings.padding_top != blank %}
        padding-top: {{ section.settings.padding_top }}px; 
      {% endif %}
      {% if section.settings.padding_bottom != blank %}
        padding-bottom: {{ section.settings.padding_bottom }}px; 
      {% endif %}
    }
    
    #shopify-section-{{ section.id }} .row {
      gap: 20px; 
      padding: 25px 0; 
    }
    
    #shopify-section-{{ section.id }} .media {
      width: 100vw; 
      height: 100vw; 
    }
    
    #shopify-section-{{ section.id }} .row-main { 
      padding-inline: 20px; 
    }

    #shopify-section-{{ section.id }} .row-heading {
      margin-bottom: 25px; 
      font-size: 24px; 
    }

    #shopify-section-{{ section.id }} .row menu { 
      gap: 10px; 
      margin: 0 0 30px 0; 
    }

    #shopify-section-{{ section.id }} .row menu li { 
      gap: 20px; 
    }

    #shopify-section-{{ section.id }} .row menu li img { 
      width: 50px; 
      height: 50px; 
    }

    #shopify-section-{{ section.id }} .row-content h1, 
    #shopify-section-{{ section.id }} .row-content h2, 
    #shopify-section-{{ section.id }} .row-content h3, 
    #shopify-section-{{ section.id }} .row-content h4, 
    #shopify-section-{{ section.id }} .row-content h5, 
    #shopify-section-{{ section.id }} .row-content h6 {
      font-size: 16px; 
    }

    #shopify-section-{{ section.id }} .media.desktop { 
      display: none; 
    }

    #shopify-section-{{ section.id }} .media.mobile { 
      display: block; 
    }

    #shopify-section-{{ section.id }} .row menu li p { 
      font-size: 12px; 
    }
  }

  /* Tablet */
  @media (min-width: 768px) and (max-width: 1366px) { 
    #shopify-section-{{ section.id }} { 
      {% if section.settings.padding_top_desktop != blank %}
        padding-top: calc({{ section.settings.padding_top_desktop }}vw / 13.66); 
      {% endif %}
      {% if section.settings.padding_bottom_desktop != blank %}
        padding-bottom: calc({{ section.settings.padding_bottom_desktop }}vw / 13.66); 
      {% endif %}
    }

    #shopify-section-{{ section.id }} .row {
      padding: calc(50vw / 13.66) 0; 
    }
    
    #shopify-section-{{ section.id }} .row-main { 
      padding-inline: calc(160vw / 13.66); 
    }

    #shopify-section-{{ section.id }} .row-heading { 
      margin-bottom: 20px; 
    }
  }

  /* Desktop */
  @media (min-width: 1920px) { 
    #shopify-section-{{ section.id }} { 
      {% if section.settings.padding_top_desktop != blank %}
        padding-top: {{ section.settings.padding_top_desktop }}px; 
      {% endif %}
      {% if section.settings.padding_bottom_desktop != blank %}
        padding-bottom: {{ section.settings.padding_bottom_desktop }}px; 
      {% endif %}
    }

    #shopify-section-{{ section.id }} .row {
      padding: 50px 0; 
    }
    
    #shopify-section-{{ section.id }} .row-main {
      padding-inline: 160px; 
    }

    #shopify-section-{{ section.id }} .media { 
      width: calc(1200vw / 25.6); 
      height: calc(800vw / 25.6); 
      aspect-ratio: 1200 / 800; 
    }

    #shopify-section-{{ section.id }} .row-heading { 
      margin-bottom: 160px; 
    }

    #shopify-section-{{ section.id }} .row menu { 
      gap: 20px; 
      margin: 0 0 60px 0; 
    }

    #shopify-section-{{ section.id }} .row menu li { 
      gap: 20px; 
    }

    #shopify-section-{{ section.id }} .row menu li img { 
      width: 60px; 
      height: 60px; 
    }

    #shopify-section-{{ section.id }} .row menu li p { 
      font-size: 24px; 
    }
  }
</style>

<!-- View -->
<div class="image-with-text-container">
  <ul class="row-list">
    {% for block in section.blocks %}
      <li class="row row-{{ forloop.index }}">
        <style>
          #shopify-section-{{ section.id }} .row-{{ forloop.index }} { 
            {% if block.settings.flex_direction != blank %}
              flex-direction: {{ block.settings.flex_direction }}; 
            {% endif %}
          }

          #shopify-section-{{ section.id }} .row-{{ forloop.index }} .row-main {
            {% if block.settings.flex_direction == 'row-reverse' %}
              padding: 0 calc(100vw / 19.2) 0 calc(160vw / 19.2); 
            {% else %}
              padding: 0 calc(160vw / 19.2) 0 calc(100vw / 19.2); 
            {% endif %}
          }

          #shopify-section-{{ section.id }} .row-{{ forloop.index }} .row-heading { 
            {% if block.settings.heading_font_size != blank %}
              font-size: calc({{ block.settings.heading_font_size }}vw / 19.2); 
            {% endif %}
          }

          #shopify-section-{{ section.id }} .row-content h1, 
          #shopify-section-{{ section.id }} .row-content h2, 
          #shopify-section-{{ section.id }} .row-content h3, 
          #shopify-section-{{ section.id }} .row-content h4, 
          #shopify-section-{{ section.id }} .row-content h5, 
          #shopify-section-{{ section.id }} .row-content h6 { 
            {% if block.settings.subheading_font_size != blank %}
              font-size: calc({{ block.settings.subheading_font_size }}vw / 19.2); 
            {% endif %}
          }

          #shopify-section-{{ section.id }} .row-{{ forloop.index }} .row-content p { 
            {% if block.settings.content_font_size != blank %}
              font-size: calc({{ block.settings.content_font_size }}vw / 19.2); 
            {% endif %}
            {% if block.settings.content_font_color != blank %}
              color: {{ block.settings.content_font_color }}; 
            {% endif %}
          }

          /* Responsive */
          /* Mobile */
          @media (max-width: 767px) { 
            #shopify-section-{{ section.id }} .row-{{ forloop.index }} { 
              flex-direction: column-reverse; 
            }

            #shopify-section-{{ section.id }} .row-{{ forloop.index }} .row-heading { 
              {% if block.settings.heading_font_size != blank %}
                font-size: calc({{ block.settings.heading_font_size }}px / 2); 
              {% endif %}
            }

            #shopify-section-{{ section.id }} .row-content h1, 
            #shopify-section-{{ section.id }} .row-content h2, 
            #shopify-section-{{ section.id }} .row-content h3, 
            #shopify-section-{{ section.id }} .row-content h4, 
            #shopify-section-{{ section.id }} .row-content h5, 
            #shopify-section-{{ section.id }} .row-content h6 { 
              {% if block.settings.subheading_font_size != blank %}
                font-size: calc({{ block.settings.subheading_font_size }}px / 2); 
              {% endif %}
            }
            
            #shopify-section-{{ section.id }} .row-{{ forloop.index }} .row-content p { 
              {% if block.settings.content_font_size != blank %}
                font-size: calc({{ block.settings.content_font_size }}px / 2); 
              {% endif %}
            }
          }

          /* Tablet */
          @media (min-width: 768px) and (max-width: 1366px) {
            #shopify-section-{{ section.id }} .row-{{ forloop.index }} .row-main {
              {% if block.settings.flex_direction == 'row-reverse' %}
                padding: 0 calc(100vw / 13.66) 0 calc(160vw / 13.66); 
              {% else %}
                padding: 0 calc(160vw / 13.66) 0 calc(100vw / 13.66); 
              {% endif %}
            }

            #shopify-section-{{ section.id }} .row-{{ forloop.index }} .row-heading { 
              {% comment %}
                {% if block.settings.heading_font_size != blank %}
                  font-size: calc({{ block.settings.heading_font_size }}vw / 13.66); 
                {% endif %}
              {% endcomment %}
            }

            #shopify-section-{{ section.id }} .row-content h1, 
            #shopify-section-{{ section.id }} .row-content h2, 
            #shopify-section-{{ section.id }} .row-content h3, 
            #shopify-section-{{ section.id }} .row-content h4, 
            #shopify-section-{{ section.id }} .row-content h5, 
            #shopify-section-{{ section.id }} .row-content h6 { 
              {% if block.settings.subheading_font_size != blank %}
                font-size: calc({{ block.settings.subheading_font_size }}vw / 13.66); 
              {% endif %}
            }

            #shopify-section-{{ section.id }} .row-{{ forloop.index }} .row-content p { 
              {% if block.settings.content_font_size != blank %}
                font-size: calc({{ block.settings.content_font_size }}vw / 13.66); 
              {% endif %}
            }
          }
          
          /* Desktop */
          @media (min-width: 1920px) {
            #shopify-section-{{ section.id }} .row-{{ forloop.index }} .row-main { 
              {% if block.settings.flex_direction == 'row-reverse' %}
                padding: 0 100px 0 160px; 
              {% else %}
                padding: 0 160px 0 100px; 
              {% endif %}
            }

            #shopify-section-{{ section.id }} .row-{{ forloop.index }} .row-heading { 
              {% if block.settings.heading_font_size != blank %}
                font-size: {{ block.settings.heading_font_size }}px; 
              {% endif %}
            }

            #shopify-section-{{ section.id }} .row-content h1, 
            #shopify-section-{{ section.id }} .row-content h2, 
            #shopify-section-{{ section.id }} .row-content h3, 
            #shopify-section-{{ section.id }} .row-content h4, 
            #shopify-section-{{ section.id }} .row-content h5, 
            #shopify-section-{{ section.id }} .row-content h6 { 
              {% if block.settings.subheading_font_size != blank %}
                font-size: {{ block.settings.subheading_font_size }}px; 
              {% endif %}
            }

            #shopify-section-{{ section.id }} .row-{{ forloop.index }} .row-content p { 
              {% if block.settings.content_font_size != blank %}
                font-size: {{ block.settings.content_font_size }}px; 
              {% endif %}
            }
          }
        </style>
        {% if block.settings.row_img != blank %}
          <img class="media desktop" width="800" height="800" src="{{ block.settings.row_img | image_url: master }}" />
        {% endif %}

        {% if block.settings.row_img_mobile != blank %}
          <img class="media mobile" width="800" height="800" src="{{ block.settings.row_img_mobile | image_url: master }}" />
        {% elsif block.settings.row_img != blank %}
          <img class="media mobile" width="800" height="800" src="{{ block.settings.row_img | image_url: master }}" />
        {% endif %}
        
        {% if block.settings.row_video != blank %}
          {{ block.settings.row_video | video_tag: autoplay: true, loop: true, muted: true, controls: false, outline: false, controlList: nofullscreen, class: 'media desktop' }}
        {% endif %}

        {% if block.settings.row_video_mobile != blank %}
          {{ block.settings.row_video_mobile | video_tag: autoplay: true, loop: true, muted: true, controls: false, outline: false, controlList: nofullscreen, class: 'media mobile' }}
        {% elsif block.settings.row_video != blank %}
          {{ block.settings.row_video | video_tag: autoplay: true, loop: true, muted: true, controls: false, outline: false, controlList: nofullscreen, class: 'media mobile' }}
        {% endif %}

        <div class="row-main">
          <h3 class="row-heading">{{ block.settings.row_heading }}</h3>
          <menu>
            {% if block.settings.row_icon1 != blank %}
              <li>
                <img width="60" height="60" src="{{ block.settings.row_icon1 | image_url: width: 60 }}" alt="{{ block.settings.row_caption1 }}" />
                <p>{{ block.settings.row_caption1 }}</p>
              </li>
            {% endif %}
            {% if block.settings.row_icon2 != blank %}
              <li>
                <img width="60" height="60" src="{{ block.settings.row_icon2 | image_url: width: 60 }}" alt="{{ block.settings.row_caption2 }}" />
                <p>{{ block.settings.row_caption2 }}</p>
              </li>
            {% endif %}
          </menu>
          {% if block.settings.row_content != blank %}
            <div class="row-content">{{ block.settings.row_content }}</div>
          {% endif %}
        </div>
      </li>
    {% endfor %}
  </ul>
</div>

{% schema %}
  {
    "name": "CG Image with Text", 
    "tag": "section", 
    "class": "cg-image-with-text", 
    "settings": [ 
      {
        "type": "header", 
        "content": "Desktop padding"
      }, 
      {
        "type": "range", 
        "id": "padding_top_desktop", 
        "label": "Padding top", 
        "min": 0, 
        "max": 120, 
        "step": 2, 
        "unit": "px", 
        "default": 118
      }, 
      {
        "type": "range", 
        "id": "padding_bottom_desktop", 
        "label": "Padding bottom", 
        "min": 0, 
        "max": 120, 
        "step": 2, 
        "unit": "px", 
        "default": 118
      }, 
      {
        "type": "header", 
        "content": "Mobile padding"
      }, 
      {
        "type": "range", 
        "id": "padding_top", 
        "label": "Padding top", 
        "min": 0, 
        "max": 72, 
        "default": 50
      }, 
      {
        "type": "range", 
        "id": "padding_bottom", 
        "label": "Padding bottom", 
        "min": 0, 
        "max": 72, 
        "default": 50
      }
    ], 
    "blocks": [
      {
        "type": "row", 
        "name": "Row", 
        "settings": [
          {
            "type": "image_picker", 
            "id": "row_img", 
            "label": "Image"
          }, 
          {
            "type": "image_picker", 
            "id": "row_img_mobile", 
            "label": "Image (mobile)"
          }, 
          { 
            "type": "video", 
            "id": "row_video", 
            "label": "Video"
          }, 
          { 
            "type": "video", 
            "id": "row_video_mobile", 
            "label": "Video (mobile)"
          }, 
          {
            "type": "text", 
            "id": "row_heading", 
            "label": "Heading", 
            "default": "Power & Efficiency in Perfect Harmony"
          }, 
          {
            "type": "range", 
            "id": "heading_font_size", 
            "label": "Heading font size", 
            "min": 0, 
            "max": 72, 
            "step": 1, 
            "unit": "px", 
            "default": 60
          }, 
          {
            "type": "richtext", 
            "id": "row_content", 
            "label": "Content"
          }, 
          {
            "type": "range", 
            "id": "subheading_font_size", 
            "label": "Subheading font size", 
            "min": 0, 
            "max": 72, 
            "step": 1, 
            "unit": "px", 
            "default": 32
          }, 
          {
            "type": "range", 
            "id": "content_font_size", 
            "label": "Content font size", 
            "min": 0, 
            "max": 72, 
            "step": 1, 
            "unit": "px", 
            "default": 20
          }, 
          {
            "type": "color", 
            "id": "content_font_color", 
            "label": "Content font color", 
            "default": "#666666"
          }, 
          {
            "type": "select", 
            "id": "flex_direction", 
            "label": "Flex direction", 
            "options": [ 
              {
                "value": "row", 
                "label": "Row", 
              }, 
              {
                "value": "row-reverse", 
                "label": "Row reverse", 
              }
            ], 
            "default": "row"
          }, 
          { 
            "type": "header", 
            "content": "Icon with text list"
          }, 
          { 
            "type": "image_picker", 
            "id": "row_icon1", 
            "label": "Row icon 1"
          },
          { 
            "type": "text", 
            "id": "row_caption1", 
            "label": "Row caption 1"
          }, 
          { 
            "type": "image_picker", 
            "id": "row_icon2", 
            "label": "Row icon 2"
          }, 
          { 
            "type": "text", 
            "id": "row_caption2", 
            "label": "Row caption 2"
          }
        ]
      }
    ], 
    "presets": [ 
      {
        "name": "CG Image with Text", 
        "blocks": [
          {
            "type": "row"
          }, 
          {
            "type": "row"
          }, 
          {
            "type": "row"
          }
        ]
      }
    ]
  }
{% endschema %}