{% comment %}
  Created by CLEARgo
{% endcomment %}

{% style %}
  .section-{{ section.id }} { 
    background-color: var(--color-white); 
    padding: 80px 0; 
  }

  .section-{{ section.id }} .media-grids-with-content-wrapper { 
    max-width: 1648px; 
    margin: 0 auto; 
    padding: 0 24px; 
  }

  .section-{{ section.id }} .media-grids { 
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    aspect-ratio: 1600 / 500; 
    gap: 8px; 
    margin-bottom: 8px; 
  }

  .section-{{ section.id }} .media-grid { 
    display: flex; 
    flex-direction: column; 
    background-size: cover; 
    background-position: center; 
    border-radius: 10px; 
  }

  .section-{{ section.id }} .section-footer { 
    display: flex; 
    padding: 72px; 
    border-radius: 10px; 
    
    {% if section.settings.footer_bg_color != blank %}
      background-color: {{ section.settings.footer_bg_color }}; 
    {% endif %}
  }

  .section-{{ section.id }} .section-footer > * { 
    width: 50%; 
  }

  .section-{{ section.id }} .section-content { 
    margin-bottom: 24px; 
  }

  .section-{{ section.id }} .button-with-url { 
    justify-content: space-between; 
    border: none; 
    border-bottom: 1px solid var(--color-grey); 
    border-radius: 0; 
    padding: 16px 0; 
  }

  .section-{{ section.id }} .button-with-url:after { 
    width: 10px; 
    height: 20px; 

    {% if section.settings.btn_icon != blank %}
      background-image: url({{ section.settings.btn_icon | image_url: width: 10 }}); 
    {% endif %}
  }

  .section-{{ section.id }} .button-with-url:hover:after { 
    transform: unset; 
  }

  /* Responsive */
  /* Mobile */
  @media (max-width: 767px) { 
    .section-{{ section.id }} .media-grids-with-content-wrapper { 
      padding: 0 12.5px; 
    }
    
    .section-{{ section.id }} .media-grids { 
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
      grid-template-columns: 1fr 1fr; 
      aspect-ratio: 700 / 1370; 
    }

    .section-{{ section.id }} .section-footer { 
      flex-direction: column; 
      padding: 18px; 
    }

    .section-{{ section.id }} .section-footer > * { 
      width: 100%; 
    }

    .section-{{ section.id }} .section-heading { 
      margin-bottom: 24px; 
      font-size: 24px; 
    }

    .section-{{ section.id }} .section-content {
      margin-bottom: 0; 
      font-size: 10px; 
      line-height: 15px; 
    }
  }

  /* Tablet */
  @media (min-width: 768px) and (max-width: 1366px) { 

  }

  /* Desktop */
  @media (min-width: 1920px) { 
    
  }
{% endstyle %}

<!-- View -->
<div class="section-{{ section.id }} media-grids-with-content-container">
  <div class="media-grids-with-content-wrapper">
    <ul class="media-grids">
      {% for block in section.blocks %}
        <li class="media-grid block-{{ forloop.index }}">
          {% style %}
            .section-{{ section.id }} .media-grid.block-{{ forloop.index }} { 
              {% if block.settings.vertical_alignment != blank %}
                {% case block.settings.vertical_alignment %}
                  {% when 'top' %}
                    justify-content: flex-start; 
                  {% when 'bottom' %}
                    justify-content: flex-end; 
                {% endcase %} 
              {% endif %}
              {% if block.settings.horizontal_alignment != blank %}
                {% case block.settings.horizontal_alignment %}
                  {% when 'left' %}
                    align-items: flex-start;
                    text-align: left;
                  {% when 'center' %}
                    align-items: center;
                    text-align: center;
                  {% when 'right' %}
                    align-items: flex-end;
                    text-align: right;
                {% endcase %}
              {% endif %}
              {% if block.settings.padding != blank %}
                padding: {{ block.settings.padding }}px; 
              {% endif %}
              {% if block.settings.bg_image != blank %}
                background-image: url({{ block.settings.bg_image | image_url: width: 1920 }}); 
              {% endif %}
              {% if block.settings.grid_column_start != blank %}
                grid-column-start: {{ block.settings.grid_column_start }}; 
              {% endif %}
              {% if block.settings.grid_column_end != blank %}
                grid-column-end: {{ block.settings.grid_column_end }}; 
              {% endif %}
              {% if block.settings.grid_row_start != blank %}
                grid-row-start: {{ block.settings.grid_row_start }}; 
              {% endif %}
              {% if block.settings.grid_row_end != blank %}
                grid-row-end: {{ block.settings.grid_row_end }}; 
              {% endif %}
            }

            .section-{{ section.id }} .media-grid.block-{{ forloop.index }} .grid-heading { 
              {% if block.settings.grid_heading_color != blank %}
                color: {{ block.settings.grid_heading_color }}; 
              {% endif %}
              {% if block.settings.grid_heading_font_size != blank %}
                font-size: calc({{ block.settings.grid_heading_font_size }}vw / 19.2); 
              {% endif %}
            }

            .section-{{ section.id }} .media-grid.block-{{ forloop.index }} .grid-subheading { 
              line-height: 100%; 

              {% if block.settings.grid_subheading_color != blank %}
                color: {{ block.settings.grid_subheading_color }}; 
              {% endif %}
              {% if block.settings.grid_subheading_font_size != blank %}
                font-size: calc({{ block.settings.grid_subheading_font_size }}vw / 19.2); 
              {% endif %}
            }

            /* Responsive */
            /* Mobile */
            @media (max-width: 767px) { 
              .section-{{ section.id }} .media-grid.block-{{ forloop.index }} { 
                padding: 10px; 
                
                {% if block.settings.bg_image_mobile != blank %}
                  background-image: url({{ block.settings.bg_image_mobile | image_url: width: 768 }}); 
                {% endif %}
                {% if block.settings.grid_column_start != blank %}
                  grid-row-start: {{ block.settings.grid_column_start }}; 
                {% endif %}
                {% if block.settings.grid_column_end != blank %}
                  grid-row-end: {{ block.settings.grid_column_end }}; 
                {% endif %}
                {% if block.settings.grid_row_start != blank %}
                  grid-column-start: {{ block.settings.grid_row_start }}; 
                {% endif %}
                {% if block.settings.grid_row_end != blank %}
                  grid-column-end: {{ block.settings.grid_row_end }}; 
                {% endif %}
              }

              .section-{{ section.id }} .media-grid.block-{{ forloop.index }} .grid-heading { 
                {% if block.settings.grid_heading_font_size_mobile != blank %}
                  font-size: {{ block.settings.grid_heading_font_size_mobile }}px; 
                {% endif %}
              }

              .section-{{ section.id }} .media-grid.block-{{ forloop.index }} .grid-subheading { 
                {% if block.settings.grid_subheading_font_size_mobile != blank %}
                  font-size: {{ block.settings.grid_subheading_font_size_mobile }}px; 
                {% endif %}
              }
            }

            /* Tablet */
            @media (min-width: 768px) and (max-width: 1366px) { 
              .section-{{ section.id }} .media-grid.block-{{ forloop.index }} .grid-heading { 
                {% if block.settings.grid_heading_font_size != blank %}
                  font-size: calc({{ block.settings.grid_heading_font_size }}vw / 13.66); 
                {% endif %}
              }

              .section-{{ section.id }} .media-grid.block-{{ forloop.index }} .grid-subheading { 
                {% if block.settings.grid_subheading_font_size != blank %}
                  font-size: calc({{ block.settings.grid_subheading_font_size }}vw / 13.66); 
                {% endif %}
              }
            }

            /* Desktop */
            @media (min-width: 1920px) { 
              .section-{{ section.id }} .media-grid.block-{{ forloop.index }} .grid-heading { 
                {% if block.settings.grid_heading_font_size != blank %}
                  font-size: {{ block.settings.grid_heading_font_size }}px; 
                {% endif %}
              }
              
              .section-{{ section.id }} .media-grid.block-{{ forloop.index }} .grid-subheading { 
                {% if block.settings.grid_subheading_font_size != blank %}
                  font-size: {{ block.settings.grid_subheading_font_size }}px; 
                {% endif %}
              }
            }
          {% endstyle %}
          {% if block.settings.grid_heading != blank %}
            <h3 class="grid-heading">{{ block.settings.grid_heading }}</h3>
          {% endif %}
          {% if block.settings.grid_subheading != blank %}
            <p class="grid-subheading">{{ block.settings.grid_subheading }}</p>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    <div class="section-footer">
      {% if section.settings.heading != blank %}
        <h3 class="section-heading">{{ section.settings.heading }}</h3>
      {% endif %}
      <div class="section-footer-column">
        {% if section.settings.content != blank %}
          <p class="section-content">{{ section.settings.content }}</p>
        {% endif %}
        {% if section.settings.btn_url != blank or section.settings.btn_text != blank %}
          <a class="button button--secondary icon-with-text button-with-url" href="{{ section.settings.btn_url }}">{{ section.settings.btn_text }}</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "CG Media Grids", 
  "class": "cg-media-grids-with-content", 
  "settings": [
    { 
      "type": "text", 
      "id": "heading", 
      "label": "Heading", 
      "default": "Why ALPHA"
    },
    { 
      "type": "text", 
      "id": "content", 
      "label": "Content", 
      "default": "ALPHA is for those looking for exceptional and straightforward. With high performance and ease-of-use as a key feature focus, the ALPHA is meant to appeal to both newcomers and seasoned riders. Built with all-terrain tires, a powerful mid-drive motor, and a torque sensor that makes pedaling feel more natural, ALPHA bikes give each rider the means to conquer all types of terrain with ease."
    }, 
    {
      "type": "header", 
      "content": "Button"
    }, 
    { 
      "type": "url", 
      "id": "btn_url", 
      "label": "URL"
    }, 
    { 
      "type": "text", 
      "id": "btn_text", 
      "label": "Display text", 
      "default": "Features"
    }, 
    { 
      "type": "image_picker", 
      "id": "btn_icon", 
      "label": "Icon"
    }, 
    { 
      "type": "color", 
      "id": "footer_bg_color", 
      "label": "Footer background color", 
      "default": "#FAF9F5"
    }
  ],
  "blocks": [
    { 
      "type": "media-grid", 
      "name": "Media grid", 
      "settings": [ 
        { 
          "type": "image_picker", 
          "id": "bg_image", 
          "label": "Background image (Desktop)"
        }, 
        { 
          "type": "image_picker", 
          "id": "bg_image_mobile", 
          "label": "Background image (Mobile)"
        }, 
        { 
          "type": "header", 
          "content": "Heading"
        }, 
        { 
          "type": "text", 
          "id": "grid_heading", 
          "label": "Text", 
          "default": "500W"
        }, 
        { 
          "type": "color", 
          "id": "grid_heading_color", 
          "label": "Font color", 
          "default": "#FFA000"
        }, 
        { 
          "type": "range", 
          "id": "grid_heading_font_size", 
          "label": "Font size (desktop)", 
          "min": 0, 
          "max": 72, 
          "step": 1, 
          "unit": "px", 
          "default": 36
        }, 
        { 
          "type": "range", 
          "id": "grid_heading_font_size_mobile", 
          "label": "Font size (mobile)", 
          "min": 0, 
          "max": 72, 
          "step": 1, 
          "unit": "px", 
          "default": 24
        }, 
        { 
          "type": "header", 
          "content": "Subheading"
        }, 
        { 
          "type": "text", 
          "id": "grid_subheading", 
          "label": "Text", 
          "default": "Mid-Drive Motor"
        }, 
        { 
          "type": "color", 
          "id": "grid_subheading_color", 
          "label": "Font color", 
          "default": "#FFFFFF"
        }, 
        { 
          "type": "range", 
          "id": "grid_subheading_font_size", 
          "label": "Font size (desktop)", 
          "min": 0, 
          "max": 72, 
          "step": 1, 
          "unit": "px", 
          "default": 20
        }, 
        { 
          "type": "range", 
          "id": "grid_subheading_font_size_mobile", 
          "label": "Font size (mobile)", 
          "min": 0, 
          "max": 72, 
          "step": 1, 
          "unit": "px", 
          "default": 12
        }, 
        {
          "type": "select", 
          "id": "vertical_alignment", 
          "label": "Vertical alignment", 
          "options": [ 
            { 
              "value": "top", 
              "label": "Top"
            }, 
            { 
              "value": "bottom", 
              "label": "Bottom"
            }
          ], 
          "default": "bottom"
        },
        {
          "type": "select", 
          "id": "horizontal_alignment", 
          "label": "Horizontal alignment", 
          "options": [
            { "value": "left", "label": "Left" },
            { "value": "center", "label": "Center" },
            { "value": "right", "label": "Right" }
          ],
          "default": "left"
        },  
        { 
          "type": "range", 
          "id": "padding", 
          "label": "Padding", 
          "min": 0, 
          "max": 120, 
          "step": 4, 
          "default": 16
        }, 
        {
          "type": "range", 
          "id": "grid_column_start", 
          "label": "Grid column start", 
          "min": 1, 
          "max": 6, 
          "step": 1, 
          "default": 1
        },
        {
          "type": "range", 
          "id": "grid_column_end", 
          "label": "Grid column end", 
          "min": 1, 
          "max": 6, 
          "step": 1, 
          "default": 1
        }, 
        {
          "type": "range", 
          "id": "grid_row_start", 
          "label": "Grid row start", 
          "min": 1, 
          "max": 3, 
          "step": 1, 
          "default": 1
        }, 
        { 
          "type": "range", 
          "id": "grid_row_end", 
          "label": "Grid row end", 
          "min": 1, 
          "max": 3, 
          "step": 1, 
          "default": 1
        }
      ]
    }
  ], 
  "presets": [ 
    {
      "name": "CG Media Grids with Content", 
      "blocks": [ 
        { "type": "media-grid" }, 
        { "type": "media-grid" },
        { "type": "media-grid" }, 
        { "type": "media-grid" },
        { "type": "media-grid" }, 
        { "type": "media-grid" }
      ]
    }
  ]
}
{% endschema %}
