{% comment %}
  Created by CLEARgo
{% endcomment %}

{% style %}
  .section-{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px; 
  }

  .section-{{ section.id }} .multicolumn-list { 
    display: flex; 
    justify-content: space-between; 
  }

  .section-{{ section.id }} .column-with-icon { 
    display: flex; 
    gap: calc(20vw / 19.2); 
    padding: calc(28vw / 19.2) 0; 
  }

  .section-{{ section.id }} .column-content { 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
  }

  /* Responsive */
  /* Mobile */
  @media (max-width: 767px) { 
    .section-{{ section.id }} .multicolumn-list { 
      flex-wrap: wrap; 
      gap: calc(48vw / 7.68); 
      padding: 0 calc(40vw / 7.68); 
    }

    .section-{{ section.id }} .column-with-icon { 
      width: calc(50% - (24vw / 7.68)); 
      flex-direction: column; 
      align-items: center; 
    }

    .section-{{ section.id }} .column-icon { 
      width: 36px; 
      height: 36px; 
      aspect-ratio: 1; 
      margin-bottom: calc(8vw / 7.68); 
    }

    .section-{{ section.id }} .column-title, 
    .section-{{ section.id }} .column-desc { 
      text-align: center; 
    }

    .section-{{ section.id }} .column-title { 
      font-size: 14px; 
    }

    .section-{{ section.id }} .column-desc { 
      font-size: 10px; 
    }
    
  }

  /* Tablet */
  @media (min-width: 768px) and (max-width: 1366px) { 
    .section-{{ section.id }} .column-with-icon { 
      flex-direction: column; 
      gap: calc(20vw / 13.66); 
      align-items: center; 
      margin: 0 calc(28vw / 13.66); 
      padding: calc(28vw / 13.66) 0; 
    }

    .section-{{ section.id }} .column-icon { 
      width: 36px; 
      height: 36px; 
    }

    .section-{{ section.id }} .column-title, 
    .section-{{ section.id }} .column-desc { 
      text-align: center; 
    }
  }

  /* Desktop */
  @media (min-width: 1920px) { 
    .section-{{ section.id }} .multicolumn-list { 
      gap: 146px; 
    }

    .section-{{ section.id }} .column-with-icon { 
      gap: 20px; 
      padding: 28px 0; 
    }
  }
{% endstyle %}

<!-- View -->
<div class="section-{{ section.id }} multicolumn-with-icons-container section--padding">
  <ul class="multicolumn-list page-width">
    {% for block in section.blocks %}
      <li class="column-with-icon index-{{ forloop.index }}">
        {% style %}
          .section-{{ section.id }} .column-with-icon.index-{{ forloop.index }} .column-title { 
            {% if block.settings.title_color != blank %}
              color: {{ block.settings.title_color }}; 
            {% endif %}
          }

          .section-{{ section.id }} .column-with-icon.index-{{ forloop.index }} .column-desc { 
            {% if block.settings.desc_color != blank %}
              color: {{ block.settings.desc_color }}; 
            {% endif %}
          }
        {% endstyle %}

        {% if block.settings.column_icon != blank %}
          <img class="column-icon" src="{{ block.settings.column_icon | img_url: width: 'master' }}" />
        {% endif %}

        {% if block.settings.column_title != blank or block.settings.column_desc != blank %}
          <div class="column-content">
            {% if block.settings.column_title != blank %}
              <h3 class="h5 column-title">{{ block.settings.column_title }}</h3>
            {% endif %}
            {% if block.settings.column_desc != blank %}
              <p class="column-desc">{{ block.settings.column_desc }}</p>
            {% endif %}
          </div>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>

{% schema %}
{
  "name": "CG Multicolumn with Icons", 
  "tag": "section", 
  "class": "cg-multicolumn-with-icons", 
  "max_blocks": 4, 
  "settings": [
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.settings.padding_top.label",
      "default": 100
    },
    {
      "type": "range",
      "id": "padding_bottom", 
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.settings.padding_top.label",
      "default": 100
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "Column",
      "settings": [ 
        {
          "type": "image_picker", 
          "id": "column_icon", 
          "label": "Icon"
        }, 
        {
          "type": "header", 
          "content": "Title"
        }, 
        {
          "type": "text", 
          "id": "column_title", 
          "label": "Title content", 
          "default": "Free, Fast Shipping"
        }, 
        {
          "type": "color", 
          "id": "title_color", 
          "label": "Title font color", 
          "default": "#000000"
        }, 
        { 
          "type": "header", 
          "content": "Descrition"
        }, 
        {
          "type": "text", 
          "id": "column_desc", 
          "label": "Description content", 
          "default": "Ship Within 2 business days"
        }, 
        {
          "type": "color", 
          "id": "desc_color", 
          "label": "Descrition font color", 
          "default": "#808080"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "CG Multicolumn with Icons",
      "blocks": [
        {
          "type": "column", 
          "settings": {}
        }, 
        {
          "type": "column", 
          "settings": {}
        }, 
        {
          "type": "column", 
          "settings": {}
        }, 
        {
          "type": "column", 
          "settings": {}
        }
      ]
    }
  ]
}
{% endschema %}
