
{% comment %}
  Created by CLEARgo
{% endcomment %}

<style>
  #shopify-section-{{ section.id }} { 
    {% if section.settings.bg_color != blank %}
      background-color: {{ section.settings.bg_color }}; 
    {% endif %}
  }

  #shopify-section-{{ section.id }} .products-compare-form-container {
    max-width: 1440px; 
    margin: 0 auto; 
    padding: 72px 20px; 
  }

  #shopify-section-{{ section.id }} .section-header { 
    text-align: center; 
  }

  #shopify-section-{{ section.id }} .section-heading { 
    line-height: normal; 
    margin-bottom: 12px; 
    font-size: 3rem; 
  }

  #shopify-section-{{ section.id }} .section-desc { 
    font-size: 1rem; 
  }
  
  #shopify-section-{{ section.id }} .products-compare-form { 
    width: 100%; 
    box-shadow: unset; 
    border-radius: 0; 
  }

  #shopify-section-{{ section.id }} .products-compare-form tr {
    display: flex; 
  }

  #shopify-section-{{ section.id }} .products-compare-form th, 
  #shopify-section-{{ section.id }} .products-compare-form td { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 0; 
  }

  #shopify-section-{{ section.id }} .products-compare-form th, 
  #shopify-section-{{ section.id }} .products-compare-form td * { 
    text-align: center; 
  }

  #shopify-section-{{ section.id }} .products-compare-form th { 
    width: calc(160vw / 19.2); 
    line-height: normal; 
    background-color: unset; 
    font-size: 1rem; 
    order: 1; 
  }

  #shopify-section-{{ section.id }} .products-compare-form td { 
    flex: 1; 
  }

  #shopify-section-{{ section.id }} .products-compare-form tbody td {
    padding: 32px 0; 
  }

  #shopify-section-{{ section.id }}  .product-img, 
  #shopify-section-{{ section.id }} .product-name,
  #shopify-section-{{ section.id }} .product-desc * { 
    margin-bottom: 8px; 
  }

  #shopify-section-{{ section.id }} .product-desc {
    font-size: 1rem; 
  }

  #shopify-section-{{ section.id }} .product-price { 
    padding: 24px 0; 
  }

  #shopify-section-{{ section.id }} .product-url { 
    display: flex; 
    border: none; 
    border-radius: 12px; 
    margin-bottom: 20px; 
    padding: 16px 24px; 
    background-color: #FFDB00; 
    font-size: 1rem; 
    font-weight: 700; 
  }

  #shopify-section-{{ section.id }} .product-url:after {
    content: none; 
  }

  #shopify-section-{{ section.id }} .product-url svg { 
    transition: filter .3s; 
  }

  #shopify-section-{{ section.id }} .product-url:hover svg {
    filter: invert(1); 
  }

  #shopify-section-{{ section.id }} .product-url:hover svg path {
    stroke: unset;
  }

  /* Repsonsive */
  /* Mobile */
  @media (max-width: 767px) { 
    #shopify-section-{{ section.id }} .section-header { 
      margin-bottom: 24px; 
    }
    
    #shopify-section-{{ section.id }} .section-heading { 
      font-size: 24px; 
    }

    #shopify-section-{{ section.id }} .section-desc { 
      font-size: 14px; 
    }

    #shopify-section-{{ section.id }} .products-compare-form thead {
      padding-top: 16px; 
    }

    #shopify-section-{{ section.id }} .products-compare-form tr {
      flex-wrap: wrap; 
      padding: 12px 0; 
    }

    #shopify-section-{{ section.id }} .products-compare-form thead tr { 
      gap: 16px; 
      padding: 0; 
    }

    #shopify-section-{{ section.id }} .products-compare-form th {
      width: 100%; 
      margin-bottom: 16px; 
      order: 0; 
    }

    #shopify-section-{{ section.id }} .products-compare-form thead th { 
      margin-bottom: 0; 
    }

    #shopify-section-{{ section.id }} .product-img {
      width: 140px; 
      max-width: unset; 
    }

    #shopify-section-{{ section.id }} .product-desc, 
    #shopify-section-{{ section.id }} .product-price {
      font-size: 16px; 
    }

    #shopify-section-{{ section.id }} .product-price { 
      padding: 24px 0 16px 0; 
    }

    #shopify-section-{{ section.id }} .product-url {
      width: 100%; 
      margin-bottom: 16px; 
    }

    #shopify-section-{{ section.id }} .products-compare-form tbody td {
      padding: 0; 
    }
  }

  /* Tablet */
  @media (min-width: 768px) and (max-width: 1366px) { 
    #shopify-section-{{ section.id }} .products-compare-form th { 
      width: calc(160vw / 13.66); 
    }
  }

  /* Desktop */
  @media (min-width: 1920px) {
    #shopify-section-{{ section.id }} .products-compare-form th { 
      width: 160px; 
    }
  }
</style>

<!-- View -->
<div class="products-compare-form-container">
  <div class="section-header">
    {% if section.settings.section_heading != blank %}
      <h2 class="section-heading">{{ section.settings.section_heading }}</h2>
    {% endif %}
    {% if section.settings.section_desc != blank %}
      <div class="section-desc">{{ section.settings.section_desc }}</div>
    {% endif %}
  </div>
  <table class="products-compare-form">
    <thead>
      <tr>
        <th></th>
        {% for block in section.blocks %}
          {% if block.settings.product_img != blank %}
            <td>
              <style>
                #shopify-section-{{ section.id }} td:has(.product-{{ forloop.index }}) { 
                  {% if block.settings.product_order != blank %}
                    order: {{ block.settings.product_order }}; 
                  {% endif %}
                }
              </style>
              <img width="360" height="326" class="product-img product-{{ forloop.index }}" src="{{ block.settings.product_img | img_url: 'master' }}" />
            </td>
          {% endif %}
        {% endfor %}
      </tr>
      <tr>
        <th></th>
        {% for block in section.blocks %}
          {% if block.settings.product_name != blank %}
            <td>
              <h3 class="product-name product-{{ forloop.index }}">{{ block.settings.product_name }}</h3>
            </td>
          {% endif %}
        {% endfor %}
      </tr>
      <tr>
        <th></th>
        {% for block in section.blocks %}
          {% if block.settings.product_desc != blank %}
            <td>
              <div class="product-desc product-{{ forloop.index }}">{{ block.settings.product_desc }}</di>
            </td>
          {% endif %}
        {% endfor %}
      </tr>
      <tr>
        <th></th>
        {% for block in section.blocks %}
          {% if block.settings.product_price != blank %}
            <td>
              <p class="product-price product-{{ forloop.index }}">{{ block.settings.product_price }}</p>
            </td>
          {% endif %}
        {% endfor %}
      </tr>
      <tr>
        <th></th>
        {% for block in section.blocks %}
          {% if block.settings.product_url != blank or block.settings.btn_caption != blank %}
            <td>
              <a class="product-url product-{{ forloop.index }} button button--secondary icon-with-text" href="{{ block.settings.product_url }}" role="link" aria-disabled="true" is="hover-link">
                <span class="btn-fill" data-fill></span>
                <span class="btn-text">
                  {{ block.settings.btn_caption }}
                  {% render 'icon', icon: 'cg_buy-btn-arrow-right' %}
                </span>
              </a>
            </td>
          {% endif %}
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="motor-heading">
          {% if section.settings.motor_heading != blank %}
            {{ section.settings.motor_heading }}
          {% endif %}
        </th>
        {% for block in section.blocks %}
          {% if block.settings.motor != blank %}
            <td>
              <p class="product-motor product-{{ forloop.index }}">{{ block.settings.motor }}</p>
            </td>
          {% endif %}
        {% endfor %}
      </tr>
      <tr>
        <th class="torque-heading">
          {% if section.settings.torque_heading != blank %}
            {{ section.settings.torque_heading }}
          {% endif %}
        </th>
        {% for block in section.blocks %}
          {% if block.settings.torque != blank %}
            <td>
              <p class="product-torque product-{{ forloop.index }}">{{ block.settings.torque }}</p>
            </td>
          {% endif %}
        {% endfor %}
      </tr>
      <tr>
        <th class="suspension-heading">
          {% if section.settings.suspension_heading != blank %}
            {{ section.settings.suspension_heading }}
          {% endif %}
        </th>
        {% for block in section.blocks %}
          {% if block.settings.suspension != blank %}
            <td>
              <p class="product-suspension product-{{ forloop.index }}">{{ block.settings.suspension }}</p>
            </td>
          {% endif %}
        {% endfor %}
      </tr>
      <tr>
        <th class="frame-heading">
          {% if section.settings.frame_heading != blank %}
            {{ section.settings.frame_heading }}
          {% endif %}
        </th>
        {% for block in section.blocks %}
          {% if block.settings.frame != blank %}
            <td>
              <p class="product-frame product-{{ forloop.index }}">{{ block.settings.frame }}</p>
            </td>
          {% endif %}
        {% endfor %}
      </tr>
      <tr>
        <th class="brake-thickness-heading">
          {% if section.settings.brake_thickness_heading != blank %}
            {{ section.settings.brake_thickness_heading }}
          {% endif %}
        </th>
        {% for block in section.blocks %}
          {% if block.settings.brake_thickness != blank %}
            <td>
              <p class="product-brake-thickness product-{{ forloop.index }}">{{ block.settings.brake_thickness }}</p>
            </td>
          {% endif %}
        {% endfor %}
      </tr>
      <tr>
        <th class="battery-capacity-heading">
          {% if section.settings.battery_capacity_heading != blank %}
            {{ section.settings.battery_capacity_heading }}
          {% endif %}
        </th>
        {% for block in section.blocks %}
          {% if block.settings.battery_capacity != blank %}
            <td>
              <p class="product-battery-capacity product-{{ forloop.index }}">{{ block.settings.battery_capacity }}</p>
            </td>
          {% endif %}
        {% endfor %}
      </tr>
      {% if section.settings.custom1_heading != blank %}
        <tr>
          <th class="custom1-heading">
            {% if section.settings.custom1_heading != blank %}
              {{ section.settings.custom1_heading }}
            {% endif %}
          </th>
          {% for block in section.blocks %}
            {% if block.settings.custom1 != blank %}
              <td>
                <p class="product-custom1 product-{{ forloop.index }}">{{ block.settings.custom1 }}</p>
              </td>
            {% endif %}
          {% endfor %}
        </tr>
      {% endif %}
      {% if section.settings.custom2_heading != blank %}
        <tr>
          <th class="custom2-heading">
            {% if section.settings.custom2_heading != blank %}
              {{ section.settings.custom2_heading }}
            {% endif %}
          </th>
          {% for block in section.blocks %}
            {% if block.settings.custom2 != blank %}
              <td>
                <p class="product-custom2 product-{{ forloop.index }}">{{ block.settings.custom2 }}</p>
              </td>
            {% endif %}
          {% endfor %}
        </tr>
      {% endif %}
      {% if section.settings.custom3_heading != blank %}
        <tr>
          <th class="custom3-heading">
            {% if section.settings.custom3_heading != blank %}
              {{ section.settings.custom3_heading }}
            {% endif %}
          </th>
          {% for block in section.blocks %}
            {% if block.settings.custom3 != blank %}
              <td>
                <p class="product-custom3 product-{{ forloop.index }}">{{ block.settings.custom3 }}</p>
              </td>
            {% endif %}
          {% endfor %}
        </tr>
      {% endif %}
      {% if section.settings.custom4_heading != blank %}
        <tr>
          <th class="custom4-heading">
            {% if section.settings.custom4_heading != blank %}
              {{ section.settings.custom4_heading }}
            {% endif %}
          </th>
          {% for block in section.blocks %}
            {% if block.settings.custom4 != blank %}
              <td>
                <p class="product-custom4 product-{{ forloop.index }}">{{ block.settings.custom4 }}</p>
              </td>
            {% endif %}
          {% endfor %}
        </tr>
      {% endif %}
      {% if section.settings.custom5_heading != blank %}
        <tr>
          <th class="custom5-heading">
            {% if section.settings.custom5_heading != blank %}
              {{ section.settings.custom5_heading }}
            {% endif %}
          </th>
          {% for block in section.blocks %}
            {% if block.settings.custom5 != blank %}
              <td>
                <p class="product-custom5 product-{{ forloop.index }}">{{ block.settings.custom5 }}</p>
              </td>
            {% endif %}
          {% endfor %}
        </tr>
      {% endif %}
    </tbody>
  </table>
</div>

{% schema %}
  {
    "name": "CG Products Compare Form",
    "tag": "section", 
    "class": "cg-products-compare-form", 
    "settings": [ 
      {
        "type": "color", 
        "id": "bg_color", 
        "label": "Background color", 
        "default": "#FFFFFF"
      },
      {
        "type": "text", 
        "id": "section_heading", 
        "label": "section_heading", 
        "default": "Compare Both"
      },
      {
        "type": "richtext", 
        "id": "section_desc", 
        "label": "section_desc", 
      }, 
      {
        "type": "header", 
        "content": "Row headings"
      }, 
      {
        "type": "text", 
        "id": "motor_heading", 
        "label": "Motor heading", 
        "default": "Motor"
      },
      {
        "type": "text", 
        "id": "torque_heading", 
        "label": "Torque heading", 
        "default": "Torque"
      },
      {
        "type": "text", 
        "id": "suspension_heading", 
        "label": "Suspension heading", 
        "default": "Suspension"
      }, 
      {
        "type": "text", 
        "id": "frame_heading", 
        "label": "Frame heading", 
        "default": "Frame"
      }, 
      {
        "type": "text", 
        "id": "brake_thickness_heading", 
        "label": "Brake thickness heading", 
        "default": "Brake Thickness"
      }, 
      {
        "type": "text", 
        "id": "battery_capacity_heading", 
        "label": "Battery capacity heading", 
        "default": "Battery Capacity"
      }
      , 
      { 
        "type": "text", 
        "id": "custom1_heading", 
        "label": "Custom 1 heading"
      }, 
      { 
        "type": "text", 
        "id": "custom2_heading", 
        "label": "Custom 2 heading"
      }, 
      { 
        "type": "text", 
        "id": "custom3_heading", 
        "label": "Custom 3 heading"
      }, 
      { 
        "type": "text", 
        "id": "custom4_heading", 
        "label": "Custom 4 heading"
      }, 
      { 
        "type": "text", 
        "id": "custom5_heading", 
        "label": "Custom 5 heading"
      }
    ],
    "blocks": [
      {
        "type": "product_column", 
        "name": "Product column", 
        "settings": [ 
          {
            "type": "range", 
            "id": "product_order", 
            "label": "Order", 
            "min": 0, 
            "max": 10, 
            "step": 1, 
            "default": 0
          }, 
          {
            "type": "image_picker", 
            "id": "product_img", 
            "label": "Product image"
          },
          {
            "type": "text", 
            "id": "product_name", 
            "label": "Product name", 
            "default": "Mars 3.0"
          },
          {
            "type": "richtext", 
            "id": "product_desc", 
            "label": "Product description"
          },
          {
            "type": "text", 
            "id": "product_price", 
            "label": "Product price", 
            "default": "From $X,XXX"
          },
          {
            "type": "url", 
            "id": "product_url", 
            "label": "Button URL"
          }, 
          {
            "type": "text", 
            "id": "btn_caption", 
            "label": "Button caption", 
            "default": "Buy Now"
          },
          {
            "type": "text", 
            "id": "motor", 
            "label": "Motor", 
            "default": "1800W Peak Power"
          },
          {
            "type": "text", 
            "id": "torque", 
            "label": "Torque", 
            "default": "100Nm"
          },
          {
            "type": "text", 
            "id": "suspension", 
            "label": "Suspension", 
            "default": "Horst-Link"
          },
          {
            "type": "text", 
            "id": "frame", 
            "label": "Frame", 
            "default": "Aluminum Alloy Frame"
          },
          {
            "type": "text", 
            "id": "brake_thickness", 
            "label": "Brake Thickness", 
            "default": "2.0mm"
          },
          {
            "type": "text", 
            "id": "battery_capacity", 
            "label": "Battery Capacity", 
            "default": "624Wh"
          }, 
          { 
            "type": "text", 
            "id": "custom1", 
            "label": "Custom 1"
          }, 
          { 
            "type": "text", 
            "id": "custom2", 
            "label": "Custom 2"
          }, 
          { 
            "type": "text", 
            "id": "custom3", 
            "label": "Custom 3"
          }, 
          { 
            "type": "text", 
            "id": "custom4", 
            "label": "Custom 4"
          }, 
          { 
            "type": "text", 
            "id": "custom5", 
            "label": "Custom 5"
          }
        ]
      }
    ], 
    "presets": [
      {
        "name": "CG Products Compare Form", 
        "blocks": [
          {
            "type": "product_column"
          }, 
          {
            "type": "product_column"
          }
        ]
      }
    ]
  }
{% endschema %}