{% comment %}
  Created by CLEARgo
{% endcomment %}

{% style %}
  .section-{{ section.id }} { 
    padding: 100px 0; 
  }

  .section-{{ section.id }} .product-series-wrapper { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
  }

  .section-{{ section.id }} .section-header { 
    margin-bottom: 52px; 
  }

  .section-{{ section.id }} .section-heading { 
    width: fit-content; 
    margin: 0 auto 60px auto; 
  }

  .section-{{ section.id }} .tab-list { 
    margin: 0 auto; 
  }

  .section-{{ section.id }} .tab-list { 
    width: fit-content; 
    display: flex; 
    {% if section.settings.tab_color != blank %}
      border-bottom: 1px solid {{ section.settings.tab_color }}; 
    {% endif %}
  }

  .section-{{ section.id }} .tab { 
    padding: 0 calc(64vw / 19.2); 
    cursor: pointer; 
  }

  .section-{{ section.id }} .tab:first-child { 
    padding-left: 0; 
  }

  .section-{{ section.id }} .tab:last-child { 
    padding-right: 0; 
  }

  .section-{{ section.id }} .tab button { 
    white-space: nowrap; 
  }
  
  .section-{{ section.id }} .tab button:after { 
    content: ''; 
    width: 0; 
    height: 3px; 
    display: block; 
    margin-top: 20px; 
    {% if section.settings.tab_color_active != blank %}
      background-color: {{ section.settings.tab_color_active }}; 
    {% endif %}
    transform: translateY(1.5px); 
    transition: all .3s; 
  }
  
  .section-{{ section.id }} .tab.active button:after { 
    width: 100%; 
  }

  .section-{{ section.id }} .series-slide-list-slider {
    padding: 0; 
  }

  .section-{{ section.id }} .series-slide { 
    width: 100%; 
    display: flex; 
    flex-direction: column; 
    padding: 0 12.5px; 
    cursor: grab; 
  }

  .section-{{ section.id }} .series-slide-wrapper { 
    width: 100%; 
    display: flex; 
    aspect-ratio: 1400 / 550; 
    padding: calc(72vw / 19.2) calc(48vw / 19.2); 
    overflow: hidden; 

    {% if section.settings.border_radius != blank %}
      border-radius: {{ section.settings.border_radius }}px; 
    {% endif %}
  }

  .section-{{ section.id }} .slide-inner { 
    width: 50%; 
    z-index: 1; 
  }

  .section-{{ section.id }} .slide-title { 
    width: fit-content; 
    margin-bottom: 20px; 
    font-size: calc(80vw / 19.2); 
  }

  .section-{{ section.id }} .slide-desc { 
    {% if section.settings.font_size != blank %}
      font-size: calc({{ section.settings.font_size }}vw / 19.2); 
    {% endif %}
  }

  .section-{{ section.id }} .button-with-url { 
    width: fit-content; 
    margin-top: calc(60vw / 19.2); 
  }

  .section-{{ section.id }} .product-card-list { 
    display: flex; 
    justify-content: space-between; 
    margin-top: 30px; 
  }

  .section-{{ section.id }} .series-product-card { 
    width: calc((100% - (30vw / 19.2)) / 2); 
  }

  .section-{{ section.id }} .product-card { 
    height: 100%; 
    display: flex; 
  }

  .section-{{ section.id }} .product-card > * { 
    width: 50%; 
  }

  .section-{{ section.id }} .product-card .product-card__media { 
    display: flex; 
    align-items: center; 
  }

  .section-{{ section.id }} .product-card .product-card__content {
    height: 100%; 
  }

  .section-{{ section.id }} .product-card .product-card__media *, 
  .section-{{ section.id }} .product-card .product-card__content *:not(.btn-fill) { 
    max-width: 100%; 
  }

  .section-{{ section.id }} .product-card .product-card__content .price { 
    flex-direction: column; 
    align-items: flex-start; 
  }

  .section-{{ section.id }} .product-card .product-card__pricing button { 
    padding: calc(16vw / 19.2); 
  }

  .section-{{ section.id }} .product-card .product-card__pricing button .inner-text { 
    display: none; 
  }

  .section-{{ section.id }} .product-card .product-card__pricing button svg { 
    width: 25px; 
    height: 25px; 
    aspect-ratio: 1; 
  }

  .section-{{ section.id }} .product-card .review-counter { 
    {% if section.settings.hide_review_counter == true %}
      display: none; 
    {% endif %}
  }

  .section-{{ section.id }} .product-card__spec { 
    {% if section.settings.hide_spec == true %}
      display: none; 
    {% endif %}
  }

  .section-{{ section.id }} .product-card .product-card__pricing { 
    {% if section.settings.hide_spec == true %}
      margin-bottom: 0; 
    {% endif %}
  }

  .section-{{ section.id }} .color-swatch { 
    width: 18px; 
    height: 18px; 
    aspect-ratio: 1; 
    outline-offset: calc(3vw / 19.2) !important; 
  }

  .section-{{ section.id }} .price__regular { 
    font-size: calc(32vw / 19.2); 
  }

  .section-{{ section.id }} .price__sale { 
    font-size: calc(18vw / 19.2); 
  }

  .section-{{ section.id }} .badge { 
    border-radius: 6px; 
    padding: calc(6vw / 19.2) calc(12vw / 19.2); 
    font-size: calc(14vw / 19.2); 
  }

  /* Responsive */
  /* Mobile */
  @media (max-width: 767px) { 
    .section-{{ section.id }} { 
      {% if section.settings.padding_top != blank %}
        padding-top: {{ section.settings.padding_top }}px; 
      {% endif %}
      {% if section.settings.padding_bottom != blank %}
        padding-bottom: {{ section.settings.padding_bottom }}px; 
      {% endif %}
    }
    .section-{{ section.id }} .section-header { 
      margin-bottom: 32px; 
    }

    .section-{{ section.id }} .section-heading { 
      margin: 0 auto 32px auto; 
    }

    .section-{{ section.id }} .tab-list-wrapper { 
      max-width: 100%; 
      overflow-x: auto; 
      overflow-y: hidden; 

      -ms-overflow-style: none; 
      scrollbar-width: none; 
    }

    .section-{{ section.id }} .tab-list-wrapper::-webkit-scrollbar {
      display: none;
    }

    .section-{{ section.id }} .series-slide-wrapper { 
      display: flex; 
      flex-direction: column; 
      aspect-ratio: 600 / 600; 
      /* aspect-ratio: 690 / 600; */
      align-items: center; 
      padding: 16px 40px; 
    }

    .section-{{ section.id }} .slide-inner { 
      width: 100%; 
      display: flex; 
      flex-direction: column; 
      align-items: center; 
    }

    .section-{{ section.id }} .slide-header * { 
      text-align: center; 
    }

    .section-{{ section.id }} .series-logo { 
      max-height: 28px; 
    }

    .section-{{ section.id }} .slide-title { 
      font-size: 32px; 
      margin: 0 auto 12px auto; 
    }

    .section-{{ section.id }} .slide-desc { 
      {% if section.settings.font_size != blank %}
        font-size: {{ section.settings.font_size_mobile }}px; 
      {% endif %}
    }

    .section-{{ section.id }} .product-card-list-wrapper { 
      overflow: auto; 
    }

    .section-{{ section.id }} .product-card-list { 
      margin-top: 10px; 
    }

    .section-{{ section.id }} .product-card { 
      flex-direction: column; 
    }

    .section-{{ section.id }} .product-card .product-card__media { 
      width: 100%; 
    }

    .section-{{ section.id }} .product-card .product-card__content { 
      width: 100%; 
      max-width: unset; 
    }

    .section-{{ section.id }} .product-card h3:has(.product-card__title) { 
      display: flex; 
    }

    .section-{{ section.id }} .price__regular { 
      font-size: 20px; 
    }
    
    .section-{{ section.id }} .price__sale { 
      font-size: 10px; 
    }

    .section-{{ section.id }} .product-card .product-card__pricing button { 
      padding: 8px; 
    }

    .section-{{ section.id }} .product-card__pricing button svg { 
      width: 12px; 
      height: 12px; 
    }

    .badge { 
      padding: 3px 6px; 
      font-size: 10px; 
      border-radius: 4px !important; 
    }
  }

  /* Tablet */
  @media (min-width: 768px) and (max-width: 1366px) { 
    .section-{{ section.id }} .tab { 
      padding: 0 calc(64vw / 13.66); 
    }

    .section-{{ section.id }} .tab:hover button:after { 
      width: 100%; 
    }

    .section-{{ section.id }} .slide-title { 
      font-size: calc(80vw / 13.66); 
    }

    .section-{{ section.id }} .slide-desc { 
      {% if section.settings.font_size != blank %}
        font-size: calc({{ section.settings.font_size }}vw / 13.66); 
      {% endif %}
    }

    .section-{{ section.id }} .button-with-url { 
      margin-top: calc(60vw / 13.66); 
    }

    .section-{{ section.id }} .series-product-card { 
      width: calc((100% - (30vw / 13.66)) / 2); 
    }

    .section-{{ section.id }} .product-card .product-card__pricing button { 
      padding: calc(16vw / 13.66); 
    }

    .section-{{ section.id }} .price__regular { 
      font-size: calc(32vw / 13.66); 
    }

    .section-{{ section.id }} .price__sale { 
      font-size: calc(18vw / 13.66); 
    }

    .section-{{ section.id }} .badge { 
      padding: calc(6vw / 13.66) calc(12vw / 13.66); 
      font-size: calc(14vw / 13.66); 
    }
  }

  /* Desktop */
  @media (min-width: 1367px) and (max-width: 1919px) { 
    .section-{{ section.id }} .tab:hover button:after { 
      width: 100%; 
    }
  }

  @media (min-width: 1920px) { 
    .section-{{ section.id }} .tab { 
      padding: 0 64px; 
    }

    .section-{{ section.id }} .tab:hover button:after { 
      width: 100%; 
    }

    .section-{{ section.id }} .series-slide-wrapper { 
      padding: 72px 48px; 
    }

    .section-{{ section.id }} .slide-title { 
      font-size: 80px; 
    }

    .section-{{ section.id }} .slide-desc { 
      {% if section.settings.font_size != blank %}
        font-size: {{ section.settings.font_size }}px; 
      {% endif %}
    }

    .section-{{ section.id }} .button-with-url { 
      margin-top: 60px; 
    }

    .section-{{ section.id }} .series-product-card { 
      width: calc((100% - 30px) / 2); 
    }

    .section-{{ section.id }} .product-card .product-card__pricing button { 
      padding: 16px; 
    }

    .section-{{ section.id }} .price__regular { 
      font-size: 32px; 
    }

    .section-{{ section.id }} .price__sale { 
      font-size: 18px; 
    }

    .section-{{ section.id }} .badge { 
      padding: 6px 12px; 
      font-size: 14px; 
    }
  }
{% endstyle %}

<!-- View -->
<div class="section-{{ section.id }}">
  <div class="section-header page-width">
    {% if section.settings.heading != blank %}
      <h2 class="section-heading">{{ section.settings.heading }}</h2>
    {% endif %}
    <div class="tab-list-wrapper">
      <ul class="tab-list">
        {% for block in section.blocks %}
          {% if block.settings.tab_text != blank %}
            <li class="tab index-{{ forloop.index }} {% if forloop.index == 1 %}active{% endif %}">
              <button>{{ block.settings.tab_text }}</button>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
  <ul class="series-slide-list-slider page-width">
    {% for block in section.blocks %}
      <li class="series-slide index-{{ forloop.index }}">
        {% style %}
          .section-{{ section.id }} .series-slide.index-{{ forloop.index }} .series-slide-wrapper { 
            position: relative; 
            background-size: cover; 
            background-position: center; 

            {% if block.settings.bg_img != blank %}
              background-image: url({{ block.settings.bg_img | image_url: width: 1600 }}); 
            {% endif %}
            {% if block.settings.placement == "right" %}
              justify-content: flex-end; 
            {% endif %}
          }

          .section-{{ section.id }} .series-slide.index-{{ forloop.index }} .series-slide-wrapper:before { 
            content: ''; 
            top: 0; 
            left: 0; 
            position: absolute; 
            display: block; 
            width: 100%; 
            height: 100%; 
            
            {% if block.settings.mask_color != blank %}
              background-color: {{ block.settings.mask_color }}; 
            {% endif %}
            {% if block.settings.mask_opacity != blank %}
              opacity: {{ block.settings.mask_opacity }}; 
            {% endif %}
          }

         .section-{{ section.id }} .series-slide.index-{{ forloop.index }} .series-slide-wrapper .slide-title { 
          {% if block.settings.title_color != blank %}
            color: {{ block.settings.title_color }}; 
          {% endif %}
         }

          .section-{{ section.id }} .series-slide.index-{{ forloop.index }} .series-slide-wrapper h3, 
          .section-{{ section.id }} .series-slide.index-{{ forloop.index }} .series-slide-wrapper p { 
            {% if block.settings.font_color != blank %}
              color: {{ block.settings.font_color }}; 
            {% endif %}
          }

          /* Responsive */
          /* Mobile */
          @media (max-width: 767px) { 
            .section-{{ section.id }} .series-slide.index-{{ forloop.index }} .series-slide-wrapper { 
              {% if block.settings.bg_img_mobile != blank %}
                background-image: url({{ block.settings.bg_img_mobile | image_url: width: 768 }}); 
              {% endif %}
              {% if block.settings.placement == "right" %}
                justify-content: flex-start; 
              {% endif %}
            }
          }
        {% endstyle %}

        <div class="series-slide-wrapper">
          <div class="slide-inner">
            <div class="slide-header">
              {% if block.settings.series_logo != blank or block.settings.slide_title != blank %}
                <h3 class="h1 slide-title">
                  {% if block.settings.series_logo != blank %}
                    <img class="series-logo" src="{{ block.settings.series_logo | image_url: height: 70 }}" />
                  {% endif %}
                  {% if block.settings.slide_title != blank %}
                    {{ block.settings.slide_title }}
                  {% endif %}
                </h3>
              {% endif %}
              
              {% if block.settings.slide_desc != blank %}
                <p class="slide-desc">{{ block.settings.slide_desc }}</p>
              {% endif %}
            </div>
            {% if block.settings.btn_link != blank or block.settings.btn_text != blank %}
              <a class="button button--primary icon-with-text button-with-url" href="{{ block.settings.btn_link }}" is="hover-link">
                <span class="btn-fill" data-fill></span>
                <span class="btn-text">
                  {{ block.settings.btn_text }}
                </span>
              </a>
            {% endif %}
          </div>
        </div>

        <div class="product-card-list-wrapper">
          <ul class="product-card-list">
            {% for product in block.settings.series_product_list %}
              <li class="series-product-card">
                {%- render 'cg_product-card', 
                  product: product, 
                  product_id: product.id,
                  section_id: section.id,
                  lazy_load: false,
                  image_ratio: settings.product_image_ratio,
                  image_fill: settings.product_image_fill,
                  show_secondary_image: settings.product_secondary_image,
                  show_vendor: settings.product_vendor,
                  show_rating: settings.product_rating,
                  show_color_swatches: settings.product_color_swatches,
                  show_countdown: settings.product_countdown,
                  show_quick_add: settings.product_quick_add,
                  show_quick_view: settings.product_quick_view,
                  show_save_amount: settings.product_save_amount,
                  save_type: settings.product_save_type,
                  show_icon_list: settings.product_icon_list, 
                -%}
              </li>
            {% endfor %}
          </ul>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>

<script>
  $(document).ready(function() {
    const seriesSlideListSlider{{ section.id | remove: '-' }} = $('.section-{{ section.id }} .series-slide-list-slider'); 
    const tabs{{ section.id | remove: '-' }} = document.querySelectorAll('.section-{{ section.id }} .tab'); 

    /* Init slick slider */
    seriesSlideListSlider{{ section.id | remove: '-' }}.slick({ 
      arrows: false, 
      dots: false, 
      infinite: true, 
      slidesToShow: 1, 
      slidesToScroll: 1
    }); 

    tabs{{ section.id | remove: '-' }}.forEach((tab, i) => {
			tab.addEventListener("click", (e) => { 
        /* Reassign active tab */
        tabs{{ section.id | remove: '-' }}.forEach((item, j) => { 
          item.classList.remove('active'); 
        }); 

        e.currentTarget.classList.add('active'); 

        /* Trigger slide change */
				seriesSlideListSlider{{ section.id | remove: '-' }}.slick('slickGoTo', i); 

				collectionCardTabs.forEach((item, j) => { 
					item.classList.remove('active'); 
				}); 

				collectionCardTab.classList.add('active'); 
			}); 

      /* Reassign active tab triggered by drag event */
      seriesSlideListSlider{{ section.id | remove: '-' }}.on('afterChange', function(event, slick, currentSlide) { 
        tabs{{ section.id | remove: '-' }}.forEach((tab, index) => { 
          tab.classList.remove('active'); 
        }); 

				tabs{{ section.id | remove: '-' }}[currentSlide].classList.add('active'); 

        /* Auto scroll to view current tab after slided */
        if(window.innerWidth <= 767) { 
          tabs{{ section.id | remove: '-' }}[currentSlide].scrollIntoView({ 
            behavior: 'smooth', 
            block: 'nearest', 
            inline: 'center'
          }); 
        }
			}); 
		}); 
  }); 
</script>

{% schema %}
{
  "name": "CG Product Series", 
  "tag": "section", 
  "class": "cg-product-series", 
  "max_blocks": 6, 
  "settings": [ 
    {
      "type": "text", 
      "id": "heading", 
      "label": "Heading", 
      "default": "Product Series"
    }, 
    {
      "type": "header", 
      "content": "Tab"
    }, 
    {
      "type": "color", 
      "id": "tab_color", 
      "label": "Underline color (inactive)", 
      "default": "#CCCCCC"
    }, 
    {
      "type": "color", 
      "id": "tab_color_active", 
      "label": "Underline color (active)", 
      "default": "#000000"
    },
    { 
      "type": "range", 
      "id": "border_radius", 
      "label": "Border radius", 
      "min": 0, 
      "max": 72, 
      "step": 1, 
      "unit": "px", 
      "default": 20
    }, 
    {
      "type": "header", 
      "content": "Description"
    }, 
    {
      "type": "range", 
      "id": "font_size", 
      "label": "Font size (desktop)", 
      "min": 0, 
      "max": 72, 
      "step": 1, 
      "unit": "px", 
      "default": 20
    }, 
    {
      "type": "range", 
      "id": "font_size_mobile", 
      "label": "Font size (mobile)", 
      "min": 0, 
      "max": 72, 
      "step": 1, 
      "unit": "px", 
      "default": 12
    }, 
    { 
      "type": "checkbox", 
      "id": "hide_review_counter", 
      "label": "Hide review counter", 
      "default": true
    }, 
    { 
      "type": "checkbox", 
      "id": "hide_spec", 
      "label": "Hide Spec", 
      "default": true
    },
    { 
      "type": "header", 
      "content": "Mobile Padding"
    }, 
    { 
      "type": "range", 
      "id": "padding_top", 
      "label": "Padding top", 
      "min": 0, 
      "max": 120, 
      "step": 4, 
      "unit": "px", 
      "default": 72
    },
    { 
      "type": "range", 
      "id": "padding_bottom", 
      "label": "Padding bottom", 
      "min": 0, 
      "max": 120, 
      "step": 4, 
      "unit": "px", 
      "default": 72
    }
  ],
  "blocks": [
    {
      "type": "slide_with_tab", 
      "name": "Slide with Tab", 
      "settings": [
        {
          "type": "header", 
          "content": "Tab"
        }, 
        {
          "type": "text", 
          "id": "tab_text",
          "label": "Text", 
          "default": "EC Series"
        }, 
        {
          "type": "header", 
          "content": "Slide"
        }, 
        {
          "type": "image_picker", 
          "id": "bg_img", 
          "label": "Background image (desktop)"
        }, 
        { 
          "type": "color", 
          "id": "mask_color", 
          "label": "Mask color", 
          "default": "#000000"
        }, 
        {
          "type": "range", 
          "id": "mask_opacity", 
          "label": "Mask opacity", 
          "min": 0, 
          "max": 1, 
          "step": 0.1, 
          "default": 0.5
        }, 
        {
          "type": "image_picker", 
          "id": "bg_img_mobile", 
          "label": "Background image (mobile)"
        }, 
        {
          "type": "image_picker", 
          "id": "series_logo", 
          "label": "Series Logo"
        }, 
        {
          "type": "text", 
          "id": "slide_title", 
          "label": "Title", 
          "default": "ALPHA"
        },
        { 
          "type": "color", 
          "id": "title_color", 
          "label": "Title color", 
          "default": "#FFFFFF"
        }, 
        {
          "type": "text", 
          "id": "slide_desc", 
          "label": "Description", 
          "default": "The World's 1st Competitively Priced 26-inch Mid-drive, Fat Tire Ebike designed to provide the joy of an exciting bike ride for all"
        }, 
        {
          "type": "text", 
          "id": "btn_text", 
          "label": "Button text", 
          "default": "Learn More"
        }, 
        {
          "type": "url", 
          "id": "btn_link", 
          "label": "Button link"
        }, 
        { 
          "type": "select", 
          "id": "placement", 
          "label": "Content placement", 
          "options": [ 
            { 
              "value": "left", 
              "label": "Left" 
            }, 
            {
              "value": "right", 
              "label": "Right"
            }
          ], 
          "default": "left"
        }, 
        {
          "type": "color", 
          "id": "font_color", 
          "label": "Font color", 
          "default": "#FFFFFF"
        }, 
        {
          "type": "product_list", 
          "id": "series_product_list", 
          "label": "Product List"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "CG Product Series",
      "blocks": [
        {
          "type": "slide_with_tab"
        }, 
        {
          "type": "slide_with_tab"
        }, 
        {
          "type": "slide_with_tab"
        }
      ]
    }
  ]
}
{% endschema %}
