{% comment %}
  Created by CLEARgo
{% endcomment %}

<style>
  #shopify-section-{{ section.id }} { 
    background-size: cover; 
    background-position: center; 
    
    {% if section.settings.bg_img != blank %}
      background-image: url({{ section.settings.bg_img | img_url: 'master' }}); 
    {% endif %}
  }

  #shopify-section-{{ section.id }} *:not(.button) {
    
  }

  #shopify-section-{{ section.id }} .banner-list {
    display: flex; 
    width: 100%; 
    height: auto !important; 
    aspect-ratio: 1920 / 600; 
    height: 600px; 
    margin-bottom: 0; 
    cursor: grab; 
  }

  #shopify-section-{{ section.id }} .banner { 
    width: 100%; 
    height: fit-content; 
  }

  #shopify-section-{{ section.id }} .banner-inner {
    /* padding: calc(56vw / 19.2) calc(120vw / 19.2); */
    padding: calc(56vw / 19.2) 0; 
  }

  #shopify-section-{{ section.id }} .banner-subheading { 
    max-width: 680px; 
    margin-bottom: calc(26vw / 19.2); 
  }

  #shopify-section-{{ section.id }} .banner-heading { 
    max-width: 680px; 
    margin-bottom: calc(20vw / 19.2); 
    font-size: calc(60vw / 19.2); 
    font-weight: 500; 
  }

  #shopify-section-{{ section.id }} .button-with-url { 
    width: fit-content; 
  }

  #shopify-section-{{ section.id }} .slick-dots { 
    bottom: 0; 
    width: fit-content; 
    height: fit-content; 
    display: flex; 
    flex-direction: column; 
    padding: 0; 
    margin: 90px calc(260vw / 19.2); 
    border-radius: 20px; 
    background-color: var(--color-grey-2); 
    overflow: hidden; 
  }

  #shopify-section-{{ section.id }} .slick-dots li { 
    width: fit-content; 
    height: fit-content; 
    display: flex; 
    margin: 0; 
  }

  #shopify-section-{{ section.id }} .slick-dots li button { 
    width: 2px; 
    height: 5px; 
    display: flex; 
    padding: 0; 
  }

  #shopify-section-{{ section.id }} .slick-dots li.slick-active button {
    border-radius: 20px; 
    background-color: var(--color-white); 
  }

  #shopify-section-{{ section.id }} .slick-dots li button:before {
    content: none; 
  }

  #shopify-section-{{ section.id }} .slick-dots li .dot-title {
    color: var(--color-white); 
  }

  #shopify-section-{{ section.id }} .dot-title-list { 
    bottom: 0; 
    left: calc(292vw / 19.2); 
    display: flex; 
    flex-direction: column; 
    gap: calc(14vw / 19.2); 
    padding: 58px 0; 
    position: absolute; 
  }

  #shopify-section-{{ section.id }} .dot-title-list .dot-title { 
    display: none; 
    color: var(--color-grey); 
    font-size: calc(14vw / 19.2); 
  }

  #shopify-section-{{ section.id }} .dot-title-list .dot-title.active {
    color: var(--color-white); 
  }

  #shopify-section-{{ section.id }} .dot-title-list .dot-title.visible { 
    display: block; 
  }

  #shopify-section-{{ section.id }} .banner-desc { 
    margin-bottom: calc(60vw / 19.2); 
  }

  #shopify-section-{{ section.id }} .testimonials-banners-container { 
    max-width: 1440px; 
    margin: 0 auto; 
    padding: 0 20px; 
  }

  /* Responsive */
  /* Mobile */
  @media (max-width: 767px) {
    #shopify-section-{{ section.id }} { 
      {% if section.settings.bg_img_mobile != blank %}
        background-image: url({{ section.settings.bg_img_mobile | img_url: 'master' }}); 
      {% endif %}
    }

    #shopify-section-{{ section.id }} .banner-subheading {
      text-align: center; 
    }

    #shopify-section-{{ section.id }} .banner-heading { 
      margin-bottom: 32px; 
      font-size: calc(60vw / 7.68); 
      font-weight: 700; 
      text-align: center; 
    }

    #shopify-section-{{ section.id }} .banner-desc { 
      margin-bottom: 50px; 
    }

    #shopify-section-{{ section.id }} .banner-inner { 
      max-width: 100vw; 
      display: flex; 
      flex-direction: column; 
      align-items: center; 
      padding: 72px 20px; 
    }

    #shopify-section-{{ section.id }} .slick-dots { 
      left: 50%; 
      width: fit-content; 
      flex-direction: row; 
      gap: 12px; 
      border-radius: unset; 
      margin: 0 0 calc(40vw / 7.68) 0; 
      background-color: unset; 
      transform: translateX(-50%); 
    }

    #shopify-section-{{ section.id }} .slick-dots li button {
      width: 32px; 
      height: 4px; 
      border-radius: 20px; 
      background-color: var(--color-grey-2); 
    }

    #shopify-section-{{ section.id }} .dot-title-list {
      display: none; 
    }

    #shopify-section-{{ section.id }} .banner-list { 
      aspect-ratio: 750 / 900; 
    }

    #shopify-section-{{ section.id }} .testimonials-banners-container { 
      padding: 0; 
    }
  }

  /* Tablet */
  @media (min-width: 768px) and (max-width: 1366px) {
    #shopify-section-{{ section.id }} .banner-inner {
      padding: calc(56vw / 13.66) calc(120vw / 13.66); 
    }
    
    #shopify-section-{{ section.id }} .banner-heading {
      max-width: calc(600vw / 13.66); 
      margin-bottom: calc(20vw / 13.66); 
      line-height: 100%; 
      font-size: calc(48vw / 13.66); 
    }

    #shopify-section-{{ section.id }} .banner-desc { 
      /* margin-bottom: calc(60vw / 13.66); */
    }

    #shopify-section-{{ section.id }} .slick-dots { 
      margin: 20px calc(120vw / 13.66); 
    }

    #shopify-section-{{ section.id }} .dot-title-list {
      left: 52px; 
    }

    #shopify-section-{{ section.id }} .button-with-url { 
      padding: calc(20vw / 13.66) calc(36vw / 13.66); 
    }
  }

  /* Desktop */
  @media (min-width: 1920px) {
    #shopify-section-{{ section.id }} .banner-heading {
      margin-bottom: 20px; 
      font-size: 60px; 
    }

    #shopify-section-{{ section.id }} .banner-desc { 
      margin-bottom: 60px; 
    }
  }
</style>

<!-- View -->
<div class="testimonials-banners-container">
  <ul class="banner-list">
    {% for block in section.blocks %}
      <li class="banner banner-{{ forloop.index }}">
        <style>
          #shopify-section-{{ section.id }} .banner-{{ forloop.index }} .banner-subheading { 
            {% if block.settings.subheading_font_color != blank %}
              color: {{ block.settings.subheading_font_color }}; 
            {% endif %}
          }

          #shopify-section-{{ section.id }} .banner-{{ forloop.index }} .banner-heading { 
            {% if block.settings.heading_font_color != blank %}
              color: {{ block.settings.heading_font_color }}; 
            {% endif %}
            {% if block.settings.heading_font_size != blank %}
              font-size: calc({{ block.settings.heading_font_size }}vw / 19.2); 
            {% endif %}
          }
          
          #shopify-section-{{ section.id }} .banner-{{ forloop.index }} .banner-desc { 
            {% if block.settings.desc_font_color != blank %}
              color: {{ block.settings.desc_font_color }}; 
            {% endif %}
            {% if block.settings.desc_font_size != _blank %}
              font-size: calc({{ block.settings.desc_font_size }}vw / 19.2); 
            {% endif %}
          }

          /* Responsive */
          /* Mobile */
          @media (max-width: 768px) { 
            #shopify-section-{{ section.id }} .banner-{{ forloop.index }} .banner-heading { 
              {% if block.settings.heading_font_size_mobile != blank %}
                font-size: {{ block.settings.heading_font_size_mobile }}px; 
              {% endif %}
            }

            #shopify-section-{{ section.id }} .banner-{{ forloop.index }} .banner-desc { 
              {% if block.settings.desc_font_size_mobile != blank %}
                font-size: calc({{ block.settings.desc_font_size_mobile }}vw / 19.2); 
              {% endif %}
            }
          }

          /* Tablet */
          @media (max-width: 768px) { 
            {% comment %}
              #shopify-section-{{ section.id }} .banner-{{ forloop.index }} .banner-heading { 
                {% if block.settings.heading_font_size != blank %}
                  font-size: calc({{ block.settings.heading_font_size }} / 13.66); 
                {% endif %}
              }

              #shopify-section-{{ section.id }} .banner-{{ forloop.index }} .banner-desc { 
                {% if block.settings.desc_font_size != blank %}
                  font-size: calc({{ block.settings.desc_font_size }}vw / 13.66); 
                {% endif %}
              }
            {% endcomment %}
          }

          /* Desktop */
          @media (min-width: 768px) and (max-width: 1920px) { 
            #shopify-section-{{ section.id }} .banner-{{ forloop.index }} .banner-heading { 
              {% if block.settings.heading_font_size != blank %}
                font-size: {{ block.settings.heading_font_size }}px; 
              {% endif %}
            }

            #shopify-section-{{ section.id }} .banner-{{ forloop.index }} .banner-desc { 
              {% if block.settings.desc_font_size != blank %}
                font-size: {{ block.settings.desc_font_size }}px; 
              {% endif %}
            }
          }
        </style>
        <div class="banner-inner">
          {% if block.settings.banner_subheading != blank %}
            <p class="banner-subheading">{{ block.settings.banner_subheading }}</p>
          {% endif %}
          {% if block.settings.banner_heading != blank %}
            <h2 class="banner-heading">{{ block.settings.banner_heading }}</h2>
          {% endif %}
          {% if block.settings.banner_desc != blank %}
            <div class="banner-desc">{{ block.settings.banner_desc }}</div>
          {% endif %}
          {% if block.settings.btn_url != blank or block.settings.btn_caption != blank %}
            <a class="button button--primary icon-with-text button-with-url" href="{{ block.settings.btn_url }}" is="hover-link">
              <span class="btn-fill" data-fill></span>
              <span class="btn-text">
                {{ block.settings.btn_caption }}
              </span>
            </a>
          {% endif %}
        </div>
      </li>
    {% endfor %}
  </ul>
</div>

<!-- Behaviour -->
  <script>
    addEventListener("DOMContentLoaded", (event) => {
      const dotTitles = document.querySelectorAll("#shopify-section-{{ section.id }} .dot-title-list .dot-title"); 

      $('#shopify-section-{{ section.id }} .banner-list').slick({
        arrows: false, 
        dots: true,
        infinite: false, 
        variableWidth: true, 
        slidesToShow: 1, 
        slidesToScroll: 1
      }); 

      $('#shopify-section-{{ section.id }} .banner-list').on('afterChange', function(event, slick, currentSlide, nextSlide){
        dotTitles.forEach((dotTitle, i) => { 
          dotTitle.classList.remove("active"); 
          dotTitle.classList.remove("visible"); 
        }); 
        
        if(dotTitles[currentSlide]) {
          dotTitles[currentSlide].classList.add("active"); 
          dotTitles[currentSlide].classList.add("visible"); 
        }

        if(dotTitles[currentSlide - 1]) {
          dotTitles[currentSlide - 1].classList.add("visible"); 
        }
        
        if(dotTitles[currentSlide + 1]) {
          dotTitles[currentSlide + 1].classList.add("visible"); 
        }
      });
    }); 
  </script>

{% schema %}
  {
    "name": "CG Testimonials Banners",
    "tag": "section", 
    "class": "cg-testimonials-banners", 
    "settings": [
      {
        "type": "image_picker", 
        "id": "bg_img", 
        "label": "Background image (desktop)"
      },
      { 
        "type": "image_picker", 
        "id": "bg_img_mobile", 
        "label": "Background image (mobile)"
      }
    ], 
    "blocks": [
      {
        "type": "banner", 
        "name": "Banner", 
        "settings": [
          {
            "type": "text", 
            "id": "dot_title", 
            "label": "Dot title", 
            "default": "Heybike ALPHA"
          }, 
          {
            "type": "text", 
            "id": "banner_subheading", 
            "label": "Subheading",
            "default": "Limited 3-Day Offer"
          }, 
          { 
            "type": "color", 
            "id": "subheading_font_color", 
            "label": "Subheading font color", 
            "default": "#FFFFFF"
          }, 
          {
            "type": "text", 
            "id": "banner_heading", 
            "label": "Heading", 
            "default": "Heybike Stories from Riders' Life"
          }, 
          { 
            "type": "color", 
            "id": "heading_font_color", 
            "label": "Heading font color", 
            "default": "#FFFFFF"
          }, 
          { 
            "type": "range", 
            "id": "heading_font_size", 
            "label": "Heading font size (desktop)", 
            "min": 0, 
            "max": 72, 
            "unit": "px", 
            "default": 48
          }, 
          { 
            "type": "range", 
            "id": "heading_font_size_mobile", 
            "label": "Heading font size (mobile)", 
            "min": 0, 
            "max": 72, 
            "unit": "px", 
            "default": 48
          }, 
          { 
            "type": "richtext", 
            "id": "banner_desc", 
            "label": "Description", 
            "default": "<p>The World's 1st Competitively Priced 26-inch Mid-drive, Fat Tire Ebike</p>"
          }, 
          { 
            "type": "range", 
            "id": "desc_font_size", 
            "label": "Desc font size (desktop)", 
            "min": 0, 
            "max": 72, 
            "unit": "px", 
            "default": 20
          }, 
          {
            "type": "color", 
            "id": "desc_font_color", 
            "label": "Descritpion font color", 
            "default": "#FFFFFF"
          }, 
          { 
            "type": "range", 
            "id": "desc_font_size_mobile", 
            "label": "Desc font size (mobile)", 
            "min": 0, 
            "max": 72, 
            "unit": "px", 
            "default": 20
          }, 
          {
            "type": "url", 
            "id": "btn_url", 
            "label": "Button URL"
          }, 
          {
            "type": "text", 
            "id": "btn_caption", 
            "label": "Button caption",
            "default": "Learn More"
          }
        ]
      }
    ], 
    "presets": [
      {
        "name": "CG Testimonials Banners",
        "blocks": [
          {
            "type": "banner"
          }, 
          {
            "type": "banner"
          }, 
          {
            "type": "banner"
          }, 
          {
            "type": "banner"
          }
        ]
      }
    ]
  }
{% endschema %}