<style>
  main, 
  main blockquote, main dd, main dl, main figure, main h1, main h2, main h3, main h4, main h5, main h6, main hr, main p, main pre { 
    font-family: var(--font-heading-family) !important; 
  }

  main:has(#shopify-section-{{ section.id }}) {
    scroll-behavior: smooth;
  }
  
  #shopify-section-{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
    background-size: cover; 
    background-position: center; 
    pointer-events: none; 

    {% if section.settings.banner_background != blank %}
      background-image: url({{ section.settings.banner_background | img_url: 'master' }}); 
    {% endif %}
  }

  #shopify-section-{{ section.id }} .sticky-cta-bar { 
    top: 107px;
    width: 100%;
    position: fixed;
    padding: 12px 0; 
    z-index: 19; 
    transition: all .3s; 
    pointer-events: auto; 
    
    {% if section.settings.cta_bar_bg != blank %}
      background-color: {{ section.settings.cta_bar_bg }}; 
    {% endif %}
  }

  html:has(.header-scrolled) #shopify-section-{{ section.id }} .sticky-cta-bar { 
    top: 60px; 
  }

  html:has(.header-hidden) #shopify-section-{{ section.id }} .sticky-cta-bar {
    top: 0; 
  }

  #shopify-section-{{ section.id }} .sticky-cta-bar .bar-inner {
    max-width: 1680px; 
    display: flex; 
    justify-content: space-between; 
    margin: 0 auto; 
    padding: 0 20px; 
    align-items: center;
  }

  #shopify-section-{{ section.id }} .sticky-cta-bar .page-name { 
    font-size: 1.25rem; 
  }

  #shopify-section-{{ section.id }} .sticky-cta-bar .cta-btns {
    display: flex; 
    gap: 12px; 
  }

  #shopify-section-{{ section.id }} .sticky-cta-bar .cta-btn { 
    background-color: #FFDB00; 
    padding: 12px 16px; 
    font-size: .875rem; 
    font-weight: 700; 
    color: #000000; 
    transition: all .3s; 
  }

  #shopify-section-{{ section.id }} .sticky-cta-bar .cta-btn:hover { 
    color: #FFFFFF; 
  }

  #shopify-section-{{ section.id }} .sticky-cta-bar .cta-btn svg {
    transition: all .3s; 
  }

  #shopify-section-{{ section.id }} .sticky-cta-bar .cta-btn svg path { 
    stroke: unset; 
  }

  #shopify-section-{{ section.id }} .sticky-cta-bar .cta-btn:hover svg {
    /* filter: invert(1); */
  }

  #shopify-section-{{ section.id }} .sticky-cta-bar:hover .cta-btn .btn-text { 
    color: var(--color-black); 
  }

  #shopify-section-{{ section.id }} .sticky-cta-bar .cta-btn .btn-fill { 
    background-color: var(--color-primary); 
  }

  #shopify-section-{{ section.id }} .page-name { 
    color: #FFFFFF; 
  }

  #shopify-section-{{ section.id }} .x-series-banner-container {
    width: 100vw; 
    height: auto; 
    aspect-ratio: 1920 / 960; 
    position: relative; 
    margin-top: 62px; 
    background: transparent; 
  }

  #shopify-section-{{ section.id }} .x-series-banner-container > div, 
  #shopify-section-{{ section.id }} .banner-subheading {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
  }

  #shopify-section-{{ section.id }} .banner-subheading { 
    text-align: center; 
    font-size: calc(24vw / 19.2); 
    font-weight: 500; 
    
    {% if section.settings.subheading_color != blank %}
      color: {{ section.settings.subheading_color }}; 
    {% endif %}
  }

  #shopify-section-{{ section.id }} .title-wrapper { 
    margin: 0 auto; 
    padding: calc(104vw / 19.2) 0; 
  }

  #shopify-section-{{ section.id }} .title-wrapper .heading { 
    margin-bottom: 22px; 
  }

  #shopify-section-{{ section.id }} .title-wrapper .heading img {
    width: calc(480vw / 19.2); 
    height: calc(40vw / 19.2); 
  }

  #shopify-section-{{ section.id }} .section-main { 
    bottom: 0; 
    position: absolute; 
  }

  #shopify-section-{{ section.id }} .midground { 
    top: calc((388vw / 19.2) + 163px); 
    width: calc(324vw / 19.2); 
    height: calc(260vw / 19.2); 
    position: fixed; 
    margin: 0 auto; 
    z-index: 1; 
  }

  #shopify-section-{{ section.id }} .midground .x-logo { 
    position: absolute; 
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    object-position: center; 
    opacity: 0; 
  }

  #shopify-section-{{ section.id }} .midground .x-logo.active {
    opacity: 1; 
  }

  #shopify-section-{{ section.id }} .frontground { 
    position: relative; 
    z-index: 2; 
  }

  #shopify-section-{{ section.id }} .main-character { 
    top: calc(112vw / 19.2); 
    left: 50%; 
    width: calc(42vw / 19.2); 
    position: absolute; 
    transform: translateX(-50%); 
    z-index: 3; 
  }

  #shopify-section-{{ section.id }} .bike-list { 
    top: 0; 
    left: 50%; 
    position: absolute; 
    display: flex; 
    gap: calc(36vw / 19.2); 
    margin: 0 auto; 
    transform: translateX(-50%); 
    z-index: 4; 
  }

  #shopify-section-{{ section.id }} .bike { 
    opacity: 0; 
    transform: scale(.8); 
    animation: bikeAnim 1.5s ease-in-out 1.5s forwards;
  }

  #shopify-section-{{ section.id }} .section-footer {
    position: absolute; 
    bottom: 0; 
    width: calc(100% - (240vw / 19.2)); 
    display: flex; 
    justify-content: flex-end; 
    margin: 0 calc(120vw / 19.2); 
    pointer-events: auto; 
  }

  #shopify-section-{{ section.id }} .scroll-btn { 
    display: flex; 
    align-items: center; 
    gap: 12px; 
    padding: 24px 0; 
    color: #FFFFFF; 
  }

  #shopify-section-{{ section.id }} .scroll-btn .scroll-btn-arrow {
    width: 24px; 
    height: 40px; 
    display: flex; 
    border-radius: 24px; 
    border: 1px solid #FFFFFF; 
    animation: arrowAnim 1.5s ease-in-out infinite alternate;
  }

  #shopify-section-{{ section.id }} .scroll-btn .scroll-btn-arrow svg {
    margin: auto; 
    animation: arrowAnim 1.5s ease-in-out infinite alternate;
  }

  /* Klayvio form */
  #shopify-section-{{ section.id }} .kl-private-reset-css-Xuajs1 { 
    min-height: unset !important; 
  }

  #shopify-section-{{ section.id }} [data-testid="form-row"] {
    position: relative; 
  }

  #shopify-section-{{ section.id }} [data-testid="form-row"]:before { 
    top: 50%; 
    left: 12px; 
    content: ''; 
    position: absolute; 
    display: block; 
    width: 24px; 
    height: 24px; 
    aspect-ratio: 1; 
    background-image: url({{ 'cg_email.svg' | asset_url }}); 
    background-size: contain; 
    background-position: center;
    transform: translateY(-50%); 
    z-index: 1; 
  }

  #shopify-section-{{ section.id }} input[type="email"] { 
    width: 290px;
    height: 48px !important; 
    border-color: #A8A8A8 !important; 
    border-radius: 8px !important; 
    background-color: #0F0F0E !important;
    padding: 0 12px 0 42px !important;
    color: #A8A8A8 !important;
    font-size: 14px !important; 
  }

  #shopify-section-{{ section.id }} input[type="email"]::placeholder {
    display: flex; 
    align-items: center; 
    color: #A8A8A8 !important;
    font-size: 14px !important; 
  }

  #shopify-section-{{ section.id }} div:has(> .kl-private-reset-css-Xuajs1[type="button"]) { 
    position: absolute !important; 
    right: 0; 
  }

  #shopify-section-{{ section.id }} .kl-private-reset-css-Xuajs1[type="button"] {
    position: static !important; 
    height: 100% !important; 
    border: unset !important;
    background: transparent !important;
    margin: 0 !important; 
    padding: 0 12px !important; 
    font-size: 0 !important; 
    transform: unset !important; 
  }

  #shopify-section-{{ section.id }} .kl-private-reset-css-Xuajs1[type="button"]:after { 
    content: ''; 
    position: static !important; 
    display: block; 
    width: 32px; 
    height: 32px; 
    border-radius: 50%; 
    background-image: url({{ 'cg_form-right-arrow.svg' | asset_url }}); 
    background-size: 80%; 
    background-position: center; 
    background-color: #FFFFFF; 
    margin: 0; 
    cursor: pointer; 
    transform: unset !important; 
  }

  #shopify-section-{{ section.id }} [type="submit"] { 
    transform: unset !important; 
  }
  
  #shopify-section-{{ section.id }} [data-testid="form-component"] { 
    height: 100%; 
    padding: 0 !important; 
  }

  /* Thank you message */
  #shopify-section-{{ section.id }} [data-testid="form-row"]:has(h1) { 
    border-radius: 8px; 
    background-color: #0F0F0E; 
    align-items: center !important;
    padding: 12px 16px; 
  }

  #shopify-section-{{ section.id }} [data-testid="form-row"]:has(h1) [data-testid="form-component"] {
    height: fit-content; 
  }

  #shopify-section-{{ section.id }} [data-testid="form-row"]:has(h1):before { 
    width: 16px; 
    height: 16px; 
    position: static; 
    margin-right: 12px; 
    background-image: url({{ 'cg_success-icon.svg' | asset_url }}); 
    transform: unset; 
  }
  
  #shopify-section-{{ section.id }} [data-testid="form-row"]:has(h1) h1, 
  #shopify-section-{{ section.id }} [data-testid="form-row"]:has(h1) h1 * { 
    font-size: 14px !important; 
    color: #A8A8A8 !important; 
  }
  
  #shopify-section-{{ section.id }} [data-testid="form-row"]:not(:has(h1)):has(p > span) {
    display: none !important; 
  }

  /* Animation */
  @keyframes bikeAnim { 
    0% {
      opacity: 0; 
      transform: scale(.8); 
    }
    100% {
      opacity: 1; 
      transform: scale(1); 
    }
  }

  @keyframes arrowAnim { 
    0% {
      transform: translateY(-5px); 
    }
    100% {
      transform: translateY(5px); 
    }
  }

  /* Responsive */
  /* Mobile */
  @media (max-width: 767px) {
    #shopify-section-{{ section.id }} .sticky-cta-bar { 
      top: 70px; 
      padding: 10px 0; 
    }

    html:has(.header-scrolled) #shopify-section-{{ section.id }} .sticky-cta-bar {
      top: 42px; 
    }

    html:has(.header-hidden) #shopify-section-{{ section.id }} .sticky-cta-bar {
      top: 0; 
    }

    #shopify-section-{{ section.id }} .sticky-cta-bar .cta-btn .btn-text { 
      gap: 0; 
    }
    
    #shopify-section-{{ section.id }} .sticky-cta-bar .page-name { 
      font-size: 16px; 
    }

    #shopify-section-{{ section.id }} .sticky-cta-bar .cta-btn {
      font-size: 10px; 
    }
    
    #shopify-section-{{ section.id }} .x-series-banner-container { 
      height: calc(100vh - 100px); 
      max-height: 640px; 
      aspect-ratio: unset; 
      margin-top: 54px; 
    }

    #shopify-section-{{ section.id }} .midground { 
      top: 412px; 
      width: 145px; 
      height: 124px; 
    }

    #shopify-section-{{ section.id }} .x-logo { 
      width: 140px; 
      height: 112px; 
    }

    #shopify-section-{{ section.id }} .mountain {
      /* height: 280px; */
      height: 40vh; 
      object-fit: cover; 
      object-position: center; 
    }

    #shopify-section-{{ section.id }} .main-character { 
      top: 26%; 
      width: 16px; 
    }

    #shopify-section-{{ section.id }} .bike-list { 
      top: 15%; 
      gap: 14px; 
    }

    #shopify-section-{{ section.id }} .bike {
      width: 172px; 
    }

    #shopify-section-{{ section.id }} .title-wrapper {
      padding: 72px 20px; 
    }

    #shopify-section-{{ section.id }} .title-wrapper .heading img {
      width: 280px; 
      height: 24px; 
    }

    #shopify-section-{{ section.id }} .banner-subheading { 
      font-size: 20px; 
    }

    #shopify-section-{{ section.id }} .banner-subheading * {
      justify-content: center; 
      line-height: normal; 
    }

    /* Klayvio form */
    #shopify-section-{{ section.id }} input[type="email"] { 
      width: 228px; 
      height: 36px !important; 
    }

    #shopify-section-{{ section.id }} .kl-private-reset-css-Xuajs1[type="button"]:after { 
      width: 24px; 
      height: 24px; 
      background-size: 100%;
    }

    /* Thany you message */
    #shopify-section-{{ section.id }} [data-testid="form-row"]:has(h1) { 
      padding: 6px 12px; 
    }
  }
  
  /* Tablet */
  @media (min-width: 768px) and (max-width: 1366px) { 
    
  }
  
  /* Decktop */
  @media (min-width: 1920px) { 
    
  }
</style>

<div class="sticky-cta-bar">
  <div class="bar-inner">
    {% if section.settings.page_title != blank %}
      <h2 class="page-name">{{ section.settings.page_title }}</h2>
    {% elsif page.title != blank %}
      <h2 class="page-name">{{ page.title }}</h2>
    {% endif %}
    {% if section.settings.show_form == true %}
      <div class="klaviyo-form-Spbx7Q"></div>
    {% endif %}
    
    {% if section.settings.show_btn == true %}
      <div class="cta-btns">
        {% for block in section.blocks %}
          {% if block.type == 'button' %}
            {% if block.settings.cta_url != blank or block.settings.cta_caption != blank  %}
              <a class="cta-btn button button--secondary icon-with-text" href="{{ block.settings.cta_url }}"  role="link" aria-disabled="true" is="hover-link">
                <span class="btn-fill" data-fill></span>
                <span class="btn-text">
                  {{ block.settings.cta_caption }}
                  {% render 'icon', icon: 'cg_buy-btn-arrow-right' %}
                </span>
              </a>
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>

<div class="x-series-banner-container">
    <div class="title-wrapper leading-none">
      {% if section.settings.heading_logo != blank %}
        <{{ section.settings.heading_tag }} class="heading font-bold {{ section.settings.heading_size }}">
          <img width="480" height="40" src="{{ section.settings.heading_logo | img_url: 'master' }}" />
        </{{ section.settings.heading_tag }}>
      {% endif %}
      {% if section.settings.banner_subheading != blank %}
        <h3 class="banner-subheading"><split-words class="split-words flex flex-wrap" data-animate="fade-up-large">{{ section.settings.banner_subheading }}</split-words></h3>
      {% endif %}
    </div>

    <div class="section-main">
      <div class="midground">
        {% for i in (0..23) %}
          {% assign img_name = 'x-logo' | append: i | append: '.png' %}
          <img class="x-logo x-logo-{{ i }}" width="324" height="260" src="{{ img_name | asset_url }}" />
        {% endfor %}
        
        {% comment %}
          {% if section.settings.banner_midground != blank %}
            <img src="{{ section.settings.banner_midground | img_url: 'master' }}" />
          {% endif %}
        {% endcomment %}
      </div>
      <div class="frontground">
        {% if section.settings.banner_frontground != blank %}
          <img class="mountain" src="{{ section.settings.banner_frontground | img_url: 'master' }}" />
        {% endif %}
        {% if section.settings.main_char != blank %}
          <img class="main-character" src="{{ section.settings.main_char | img_url: 'master' }}" />
        {% endif %}
        <ul class="bike-list">
          {% for block in section.blocks %}
            {% if block.type == 'bike' %}
              {% if block.settings.image != blank %}
                <li class="bike bike-{{ forloop.index }}">
                  <img src="{{ block.settings.image | img_url: 'master' }}" />
                </li>
              {% endif %}
            {% endif %}
          {% endfor %}
        </ul>
        <div class="section-footer">
          {% if section.settings.scroll_btn_url != blank or section.settings.scroll_btn_text != blank %}
            <button class="scroll-btn">
              {{ section.settings.scroll_btn_text }}
              <div class="scroll-btn-arrow">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path d="M18.16 8.59L12.5 14.25L6.83997 8.59L7.54997 7.89L12.5 12.84L17.45 7.89L18.16 8.59Z" fill="white"/>
                </svg>
              </div>
            </button>
          {% endif %}
        </div>
      </div>
    </div>
</div>

<script>
  addEventListener("DOMContentLoaded", (event) => {    
    const midground = document.querySelector("#shopify-section-{{ section.id }} .midground"); 
    const xLogos = document.querySelectorAll("#shopify-section-{{ section.id }} .midground .x-logo"); 
    let logoIndex = 0; 

    setTimeout(() => {
      xLogos[0].classList.add("active"); 
      
      setInterval(() => { 
        if (logoIndex < xLogos.length - 1) { 
          xLogos[logoIndex].classList.remove("active");
          logoIndex++; 
          xLogos[logoIndex].classList.add("active"); 
        }
  
        if (logoIndex >= xLogos.length) { 
          logoIndex = 0; 
        }
      }, 40); 
    }, 2000); 

    /* Srolling fade-out effect */
    addEventListener("scroll", (event) => { 
      /* console.log('window.pageYOffset: ' + window.pageYOffset); */
      
      midground.style.opacity = `${1 - (window.pageYOffset / 1000)}`; 
      midground.style.transform = `scale(${1 - (window.pageYOffset / 5000)})`; 
    }); 

    /* Click to scroll to target element */
    const scrollBtn = document.querySelector("#shopify-section-{{ section.id }} .scroll-btn"); 

    {% if section.settings.scroll_btn_url != blank %}
      scrollBtn.addEventListener("click", (event) => { 
        var targetElement = $('{{ section.settings.scroll_btn_url }}'); 
        $('html, body').animate({
          scrollTop: targetElement.offset().top
        }, 300); 
      }); 
    {% endif %}
  }); 
</script>

{% schema %}
{
  "name": "CG X Series Banner", 
  "tag": "section", 
  "class": "cg-x-series-banner", 
  "settings": [
    {
      "type": "header", 
      "content": "Sticky CTA bar"
    }, 
    {
      "type": "text", 
      "id": "page_title", 
      "label": "Page title", 
      "default": "X-Series"
    }, 
    {
      "type": "color", 
      "id": "cta_bar_bg", 
      "label": "Background color", 
      "default": "#000000"
    }, 
    {
      "type": "header",
      "content": "t:sections.global.settings.header__heading.content"
    }, 
    {
      "type": "header", 
      "content": "Grounds"
    }, 
    {
      "type": "image_picker", 
      "id": "banner_background", 
      "label": "Background"
    }, 
    {
      "type": "image_picker", 
      "id": "banner_midground", 
      "label": "Midground"
    }, 
    {
      "type": "image_picker", 
      "id": "banner_frontground", 
      "label": "Frontground"
    }, 
    {
      "type": "image_picker", 
      "id": "main_char", 
      "label": "Main character"
    }, 
    {
      "type": "image_picker", 
      "id": "heading_logo", 
      "label": "Heading Logo"
    }, 
    {
      "type": "text", 
      "id": "banner_subheading", 
      "label": "Banner subheading", 
      "default": "The Pinnacle of Folding Fat-tire Ebikes"
    }, 
    {
      "type": "color", 
      "id": "subheading_color", 
      "label": "Subheading color", 
      "default": "#FFFFFF"
    }, 
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "title-sm",
          "label": "t:sections.global.settings.heading_size.options__1.label"
        },
        {
          "value": "title-md",
          "label": "t:sections.global.settings.heading_size.options__2.label"
        },
        {
          "value": "title-lg tracking-heading",
          "label": "t:sections.global.settings.heading_size.options__3.label"
        },
        {
          "value": "title-xl tracking-heading",
          "label": "t:sections.global.settings.heading_size.options__4.label"
        }
      ],
      "default": "title-xl tracking-heading",
      "label": "t:sections.global.settings.heading_size.label"
    },
    {
      "type": "select",
      "id": "heading_tag",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.global.settings.heading_tag.options__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.global.settings.heading_tag.options__2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.global.settings.heading_tag.options__3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.global.settings.heading_tag.options__4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.global.settings.heading_tag.options__5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.global.settings.heading_tag.options__6.label"
        },
        {
          "value": "div",
          "label": "t:sections.global.settings.heading_tag.options__7.label"
        },
        {
          "value": "span",
          "label": "t:sections.global.settings.heading_tag.options__8.label"
        },
        {
          "value": "p",
          "label": "t:sections.global.settings.heading_tag.options__9.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.global.settings.heading_tag.label",
      "info": "t:sections.global.settings.heading_tag.info"
    },
    {
      "type": "select",
      "id": "text_size",
      "options": [
        {
          "value": "text-sm",
          "label": "t:sections.global.settings.text_size.options__1.label"
        },
        {
          "value": "text-base",
          "label": "t:sections.global.settings.text_size.options__2.label"
        },
        {
          "value": "text-lg md:text-2xl",
          "label": "t:sections.global.settings.text_size.options__3.label"
        },
        {
          "value": "subtext-xl",
          "label": "t:sections.global.settings.text_size.options__4.label"
        }
      ],
      "default": "text-base",
      "label": "t:sections.global.settings.text_size.label"
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header__section.content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.settings.padding_top.label",
      "default": 72
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.settings.padding_bottom.label",
      "default": 100
    },
    {
      "type": "checkbox",
      "id": "divider",
      "label": "t:sections.global.settings.divider.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "narrow",
      "label": "t:sections.global.settings.narrow.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "rounded",
      "default": false,
      "label": "t:sections.global.settings.rounded.label"
    }, 
    {
      "type": "url", 
      "id": "scroll_btn_url", 
      "label": "Scroll button URL"
    }, 
    {
      "type": "text", 
      "id": "scroll_btn_text", 
      "label": "Scroll button text", 
      "default": "Scroll to Discover"
    },
    {
      "type": "checkbox", 
      "id": "show_form", 
      "label": "Show form", 
      "default": true
    }, 
    {
      "type": "checkbox", 
      "id": "show_btn", 
      "label": "Show CTA buttons", 
      "default": false
    }
  ], 
  "blocks": [
    {
      "type": "bike", 
      "name": "Bike", 
      "settings": [
        {
          "type": "image_picker", 
          "id": "image", 
          "label": "Image"
        }
      ]
    }, 
    {
      "type": "button", 
      "name": "Button", 
      "settings": [
        {
          "type": "url", 
          "id": "cta_url", 
          "label": "CTA URL"
        }, 
        {
          "type": "text", 
          "id": "cta_caption", 
          "label": "Caption", 
          "default": "CTA Caption"
        }
      ]
    }
  ], 
  "presets": [ 
    {
      "name": "CG X-Series Banner", 
      "blocks": [
        {
          "type": "bike"
        }, 
        {
          "type": "bike"
        }
      ]
    }
  ]
}
{% endschema %}
